[2019-05-21 22:28] thomasplevy opened #1 "Resources to Document"
## Phase 1 (Completed)

Resources to be made available in the first phase of the API. Target public release August 2019.

- [x] Student accounts `/students`
- [x] Student enrollments `/students/{id}/enrollments`
- [x] Student Progress `/students/{id}/progress`
- [x] Instructors `/instructors`
- [x] Instructor Content `/instructors/{id}/content`
- [x] Courses `/courses`
- [x] Course Enrollments `/c

[2019-05-21 22:34] thomasplevy opened #2 "Authentication & API Credentials"
The API will implement HTTP Basic Authentication (consumer key/secret) via request headers.

As a fallback for servers which cannot properly parse request headers the consumer key/secret may be passed as query string variables, for example `POST /students?consumer_key={$key}&consumer_secret={$secret}`

The API will only accept HTTPS requests.

API keys will be stored in a custom table, `wp_lifterl

[2019-06-25 19:17] thomasplevy opened #3 "Contexts"
Add context parameters for all requests.

Available contexts:

`view` (default) return content for viewing/displaying
`edit` returns content with additional "raw" data used for displaying the content in the WP Editor for editing.

Post fields should make use of this by returning certain fields as an object with additional data depending on the context.

EG: `GET` /courses/{course_id} would return

[2019-06-27 15:21] eri-trabiccolo opened #4 "Password protected posts"
Add logic to handle access to password protected llms posts.

We can look at how the WordPress core does in wp-includes/rest-api/endpoints/class-wp-rest-posts-controller.php

[2019-06-27 15:26] eri-trabiccolo opened #5 "Add "force" arg to the DELETE method on posts"
By default set to false.

This arg determines whether to bypass trash and force deletion.

[2019-06-27 19:06] #3 closed

[2019-06-27 19:06] #4 closed

[2019-06-27 19:12] #5 closed

[2019-06-27 21:03] thomasplevy opened #6 "Resource Feedback for Courses, Students, Enrollments"
Open discussion thread for discussion of these resources as documented in the current state of the spec.

Let's pay special attention to:

1. The properties available on each resource
2. The `_links` provided for each resource to help consumers gather additional information about related resources.

https://gocodebox.github.io/lifterlms-rest/

[2019-06-27 21:04] thomasplevy commented on #6
@eri-trabiccolo & @actual-saurabh can you please review and let me know if you find any holes / issues / whatever

[2019-06-27 21:06] thomasplevy opened #7 "Courses should have a link to enrolled students"
href: `/wp-json/llms/v1/students?enrolled_in={course_id}`

[2019-06-27 21:07] thomasplevy opened #8 "Enrollments collection list should allow filtering by enrollment status"

[2019-06-27 22:38] #7 closed

[2019-06-28 14:01] eri-trabiccolo commented on #6
I start with some initial considerations on Courses:

- Shall we expose the password field? I think we should not, I think we should allow its creation/update (so context=edit) only.
- Access plans: Maybe we can add access plans ids and/or add them to the `_links` array as well.
- What about Sections and Lessons: shouldn't we add them to `_links`?
- Since we have the `comment(ping)_status` we can

[2019-06-28 15:24] thomasplevy opened #9 "Post passwords viewable only in `edit` context, otherwise they are write only"
See https://github.com/gocodebox/lifterlms-rest/issues/6#issuecomment-506744948

[2019-06-28 15:35] thomasplevy opened #10 "Add "reviews" resource and links from the course & membership resources"

[2019-06-28 15:39] thomasplevy opened #11 "Posts `gmt` created date should be writeable"
See https://github.com/gocodebox/lifterlms-rest/issues/6#issuecomment-506744948

[2019-06-28 15:39] thomasplevy commented on #6
Good catch, see new issue to track: #9

Per #1 access plans will be their own resource at `/plans` -- once that resource is defined then courses will have an `_link` to the collection of relevant plans.

In the current state of LifterLMS plans __belong__ to a course or membership but in the future we'd like to have global plans that can be shared. Moving them to their own resource in the rest api

[2019-06-28 16:27] #9 closed

[2019-06-28 16:27] #11 closed

[2019-06-28 16:27] thomasplevy commented on #9
Closed by https://github.com/gocodebox/lifterlms-rest/commit/804d1a1a2a0eff87f58d723c19b39e057862615a

[2019-06-30 10:58] eri-trabiccolo commented on #6
About the Course's access period object:
opens and closes message field in the specs contain shortcodes...
This makes me thing that we should split all the properties which can contain shortcodes (or blocks?!) into `raw` and `rendered` with the second only accessible in `edit` context, exactly as we do with the `title`,`content`,`excerpt`.
What do you think?

[2019-07-01 14:50] eri-trabiccolo commented on #6
I don't think I get the meaning of the "post_type" property for the Course resource. :D
`Enum:"course" "llms_membership"`.

The course post_type can be only "course" no?!

[2019-07-01 15:54] thomasplevy opened #12 "Text content properties should have "raw" and "rendereded" fields"
About the Course's access period object:
opens and closes message field in the specs contain shortcodes...
This makes me thing that we should split all the properties which can contain shortcodes (or blocks?!) into `raw` and `rendered` with the second only accessible in `edit` context, exactly as we do with the `title`,`content`,`excerpt`.
What do you think?

_Originally posted by @eri-trabiccolo

[2019-07-01 16:02] thomasplevy commented on #6
@eri-trabiccolo

In the `/courses` resource it doesn't make sense, exactly, no. However when pulling courses as a link from other resources via link (like the `/enrollments` "post" resource the post could be either a course or membership.

Unless we split every resource that can have either courses or memberships into separate resources (`/course-enrollments` and `/membership-enrollments` for exam

[2019-07-01 16:18] eri-trabiccolo commented on #6
@thomas
I see what you mean yes, thanks.
1) I missed the read-only "mark" (though I guessed it :D), sorry, I was looking at the html not the json.
2) No need to be enum then, it's "fixed", and it's the current "object" post_type.

[2019-07-01 16:37] thomasplevy opened #13 "When posting/updating content with raw/rendered fields, accepted parameter should not be nested"
For example, if updating a course's content, the api should accept `content` as the parameter, the request should not require a submission of raw/rendered data via passing `content.raw` and/or `content.rendered`

Raw content should always be supplied directly to the main property. The object is passed during `GET` requests.

[2019-07-01 16:55] eri-trabiccolo commented on #13
Accidentally I was already **only** accepting the `'content' => string` format when creating/updating. :D

[2019-07-01 16:59] thomasplevy commented on #13
Good :-D

The spec needs to make this explicit though, carry on with your mistake I'm working on figuring out how to update the spec accordingly

[2019-07-01 17:02] eri-trabiccolo commented on #13
Yes sure, thanks!

[2019-07-01 20:01] thomasplevy commented on #13
Documentation is unclear in WP Core but in practice it's possible to create/update a post with either of the following payloads for fields which __return__ an object with `rendered` and `raw` properties:

[code]

Or:

[code]

So the updated spec will allow for both:

![API_Reference___ReDoc](https://user-images.githubusercontent.com/1290739/60463216-3b47b900-9c00-11e9-811f-9769217273ed.jpg)
![API_

[2019-07-01 20:20] eri-trabiccolo commented on #13
Mmm yeah I looked at the core code and actually wanted to ask if we wanted to replicate it, but then I thought that no, we didn't want to, why should we? :)
Anyway ok, will update the code to reflect this spec.
Basically the core code looks for the value of the field, if it's a string it will be used, otherwise the 'raw' nested field will be used (if set, of course).
https://github.com/WordPress/W

[2019-07-01 23:12] thomasplevy commented on #13
Spec ended up looking a little different than above. Documentation will not reflect the way this will work but lets follow the WP core as noted.

[2019-07-01 23:12] #13 closed

[2019-07-01 23:12] thomasplevy commented on #12
Resolved in latest commit mess

[2019-07-01 23:12] #12 closed

[2019-07-01 23:14] thomasplevy commented on #12
@eri-trabiccolo all course fields updated accordingly.

Also note that `capacity` and `capacity_message` have been combined into an object to keep these dependent props organized together.

[2019-07-02 15:27] eri-trabiccolo opened #14 "How many nesting levels for our api fields?"
![Schermata 2019-07-02 alle 17 24 48](https://user-images.githubusercontent.com/7689242/60525271-5abd0f80-9cee-11e9-982e-980731222ddc.png)

I think we have to "define" how much nested our fields can be, for two reasons:
1) rules :D which means "practical in the future"
2) "practical now"
There's a core helper that, given a response data (array) and a context (and implicitly a schema), will filter

[2019-07-02 15:47] eri-trabiccolo opened #15 "Getting LLMS_Post_Model raw properties"
Implementing the Courses resource rest-api we often need to access to the model's "raw" properties.

Unless I'm not missing something, sometimes, this is not really straightforward using the model api. For instance, how can I get the Course's raw content?
`$course->get('content')` will give me the [llms_content for that course](https://github.com/gocodebox/lifterlms/blob/3.33.2/includes/abstracts/

[2019-07-02 15:58] thomasplevy commented on #15
Good idea.

The `get` method can have an optional 2nd property `$raw` defaulting to `false`. When passing `$raw = true` it will skip the scrub and return the raw value.

Since the `get` logic currently exists in the magic method `__get` some more changes to be made but I think you can figure it out to work in a backwards compatible way.

[2019-07-02 16:03] eri-trabiccolo commented on #6
A sort of "capacity status" should be added, we have the course's `enable_capacity` bool.

[2019-07-02 16:15] thomasplevy commented on #14
All nested properties will switch to top-level properties, will update today

[2019-07-02 20:55] #14 closed

[2019-07-02 20:56] thomasplevy commented on #6
Added as `capacaity_enabled`, see https://github.com/gocodebox/lifterlms-rest/commit/7b9712b6cccd1371ec810ccd02c3345b6f58c703#diff-f438ec0990118ddfa46daae2716d8ff2R67

[2019-07-02 23:07] #8 closed

[2019-07-03 10:03] eri-trabiccolo commented on #12
@thomasplevy
specs need to update:
Enrollment opens/closes messages should be objects with `raw` `rendered` fields.

[2019-07-03 14:07] thomasplevy commented on #12
I think you're looking at the request instead of the response

Compare values in the 200 OK response at https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses/get with the request parameters for https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses/post

Create & Update requests expect a string, Reads return the object.

[2019-07-03 14:12] eri-trabiccolo commented on #12
Yes you're right.
I've scrolled the page too much. :/
Anyway I've already implemented the schema the correct way, just wanted to report the issue in the spec, which is not an issue. Sorry for this fake alarm.

[2019-07-03 14:20] eri-trabiccolo commented on #6
@thomasplevy I have a "problem" :D
First I want to be sure how the Course "rendered" content should look like. Let me explain.

If we built the Course content with the block editor, stuff like the instructor and the syllabus are part of the rendered content. While if the course has been built with the "classic editor" instructor, syllabus etc. are rendered with filter applied to the content hook (

[2019-07-03 15:43] thomasplevy commented on #6
See https://github.com/gocodebox/lifterlms-blocks/blob/c006aa3056d8e6e4bb40881a15bc5949da58a293/includes/class-llms-blocks-migrate.php#L249

Since this action is run at `wp` it's possible that it's not being run during `rest_api_init` -- I'm guessing. Look into the action stack and see if that could be causing it.

If it is, I think the rest api plugin should duplicate this effort for now and also

[2019-07-03 15:43] thomasplevy commented on #12
no problem

[2019-07-03 15:47] eri-trabiccolo commented on #6
Thanks, I think my editor is buggy, I searched for any "remove_action"/"remove_all_" throughout the lifterlms-blocks repo and couldn't find them.
Good to know I cannot trust it, will go with grep next time :D

[2019-07-03 15:51] thomasplevy commented on #6
On second thought i think it'd be better to update this in the blocks plugin so that we don't need to duplicate all the existing logic there to determine if a post is migrated.

There could just be an additional action in the constructor to run the same remove action method in the blocks plugin

[2019-07-03 16:12] eri-trabiccolo commented on #6
Mmm I think the problem here would be when retrieving the collection, the actions "removal" should be done for each course: I should find a way to remove those actions if the current post is migrated, but not if it is not, which means re-adding them for not migrated posts. Which also means that I should check an action was actually hooked, otherwise we'll end up adding actions someone removed.
Do

[2019-07-03 17:26] eri-trabiccolo opened #16 "Courses: specs miss some properties"
yes|no properties:
- (access) time_period  (string)  Whether or not a course time period restriction is enabled [yes|no] (all checks should check for 'yes' as an empty string might be returned)
- enrollment_period  (string)  Whether or not a course time period restriction is enabled [yes|no] (all checks should check for 'yes' as an empty string might be returned)
- has_prerequisite   (string)  Det

[2019-07-03 20:13] thomasplevy commented on #16
The existence of these yes/no fields exist mostly to facilitate the UI on the course options metabox however they are not actually necessary/are redundant via the rest api.

For example, if both access time period dates fields are empty then the existing access_time_period property can be flipped to `no`, likewise if at least one exists then it can be flipped to `yes`. My goal is actually to phase

[2019-07-03 20:31] eri-trabiccolo commented on #16
I see what you mean.
Though about this

I was thinking about this case (editing the course via admin UI): one sets the access time period to on, then sets some start and end dates and saves, then decides to set the access time period to off, and this is possible because the UI allows it. Dates are still set, but the user still doesn't want to have a limited access period, and this is something tha

[2019-07-03 20:52] thomasplevy commented on #16
@eri-trabiccolo

Yea I guess you're right... I don't like the existing schema on the course model. It feels like there's just way too many unnecessary properties for things that we don't need a set of properties for.

My issue here is that in order to manage these fields via the REST api you'll need to set two properties.

Given the capabilites of the OAPI spec and the resulting interface there's

[2019-07-03 21:07] eri-trabiccolo commented on #16
Yeah that makes sense, the only "problem" would be with legacy data when the "no" didn't clear dates, but we can always create db update routines, right?!

[2019-07-03 21:14] thomasplevy commented on #16
Yea, a simple db update could take care of that pretty easily, do you think this makes sense as a path forward, am I being too willfull?

I'll open  an issue in core if you don't have any other arguments

[2019-07-03 21:26] eri-trabiccolo commented on #16
I think it's fine but it's 23:20 here so you know... I'm sleepy eheh.
With the "new" way I think we don't introduce any real regression except for those who might want to set now a limit "for the future" but they want to activate it when more near the starting date (does it make sense?). But I think it's not that common plus... hey I don't think covering every weird use case would be a good design

[2019-07-05 16:06] eri-trabiccolo commented on #6
A per my previous comment I've implemented it in this repo.
Basically when preparing the object (e.g. single course, or a course in a collection) for the response, I do the following:
1) get a list of action/filters to be removed for the current object (a course, a membership and a lesson have a different list)
2) remove them and keep track of what I removed
3) prepare the object for response (e.g

[2019-07-05 16:41] eri-trabiccolo commented on #16
I guess that also the [recently added](https://github.com/gocodebox/lifterlms-rest/commit/7b9712b6cccd1371ec810ccd02c3345b6f58c703#diff-f438ec0990118ddfa46daae2716d8ff2R67) `capacity_enabled` prop will be removed.
If not, let's fix the typo (`capacaity`) :D

[2019-07-08 15:26] eri-trabiccolo commented on #16
`capacity_enabled` will be not removed because, Thomas says:

[2019-07-08 15:32] thomasplevy commented on #16
Updated typo, will deploy later

[2019-07-08 17:50] eri-trabiccolo commented on #6
@thomasplevy
I think we need a different course's `sales_page_url`.
Looking at:

so the lifterlms core the `sales_page_url` is not what the specs are describing right now.
The specs are calling `sales_page_url` what for the corse is `sales_page_content_url`
https://github.com/gocodebox/lifterlms/blob/3.33.2/includes/models/model.llms.course.php#L276

I think we can change the specs so that `sales_

[2019-07-08 17:52] thomasplevy opened #17 "@thomasplevy"
@thomasplevy
I think we need a different course's `sales_page_url`.
Looking at:

so the lifterlms core the `sales_page_url` is not what the specs are describing right now.
The specs are calling `sales_page_url` what for the corse is `sales_page_content_url`
https://github.com/gocodebox/lifterlms/blob/3.33.2/includes/models/model.llms.course.php#L276

I think we can change the specs so that `sales_

[2019-07-08 17:56] thomasplevy commented on #17
@eri-trabiccolo I understand the issue here but I don't know if the rest api should be returning parameters which preform "business logic" like the function in question.

If you think it's confusing to change the parameter name (which I shortened because having "content" as part of the parameter name doesn't feel essential to me) is the issue I'm open to changing it.

I think the method `get_sales

[2019-07-08 19:19] eri-trabiccolo commented on #17
mmm

Nope that's fine for me. :D
And more than the logic there I was thinking about that filter...

Theoretically I'm with you but... I guess it's because WP always messes up concepts and my thoughts too :D Of course I'm referring to the "rendered" content thing. That's not the the data, and probably not even the "raw" is the data: since there are shortcodes/blocks and tons of plugins that can fil

[2019-07-08 19:57] thomasplevy commented on #16
Closing this issue. Any additional properties we need to add please open a new issue

[2019-07-08 19:57] #16 closed

[2019-07-09 23:05] thomasplevy opened #18 "Webhook API Signature generation / verification"
"borrow" from WooCommerce:

[code]

Source: https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-webhook.php#L470-L483

This solution will not prevent against "replay" attacks, see Stripes solution: https://stripe.com/docs/webhooks/signatures#replay-attacks

Our method can be improved to prevent against replays by adding a timestamp to the generation and payload:

[code]

[code

[2019-07-15 17:35] eri-trabiccolo opened #20 "Sections/lessons resources spec: add previous/next section under _links?"
Do you think would be worthwhile adding links to the previous/next section resource under _links?

[2019-07-15 20:04] thomasplevy commented on #20
right now `GET` request to collection lists return next/prev/last/first resource links via the `Link` header. I pulled this from the WP Core's api. None of their `_links` link to these kind of relations.

I think it makes sense when requesting a single resource (EG: `/lessons/123` or `sections/456` you should be able to see the next/prev/first/last resources in that collection. However, I'm not su

[2019-07-15 20:27] eri-trabiccolo commented on #20
:D
Just to give you more information on my "request".
I thought we needed this for the sections because the sections have an order within a course so the next/prev made sense.
The section's next/prev depends on the `order` property, hence these links will basically gather the URL from section's object get_next/get_prev.
This was my idea... Does it still make sense to you?

[2019-07-16 00:15] thomasplevy commented on #20
Yep, I understood that being the reason for adding these

[2019-07-17 13:47] eri-trabiccolo opened #21 "Course _links['enrollments']['href'] should be /wp-json/llms/v1/courses/1234/enrollment"
while it's still `/wp-json/llms/v1/enrollments?post=1234`

[2019-07-17 16:06] eri-trabiccolo opened #22 "Changes required to Enrollments query params"
`enrollment` should be removed from `orderby`

And `include` parameter should be replaced with `student_id` here:
https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses~1{id}~1enrollments/get
(course's enrollments)

I guess `student_id` should still accept a single id or a comma separated list of ids.

[2019-07-17 16:21] eri-trabiccolo commented on #21
Actually no,
according to:
https://github.com/gocodebox/lifterlms-rest/issues/1#issue-446852678
this is correct but I'm confused because I don't see the Enrollments resource spec out here:
https://gocodebox.github.io/lifterlms-rest/

[2019-07-17 22:00] #22 closed

[2019-07-17 22:01] pondermatic commented on #2
When the consumer key/secret is passed in query variables, they may be leaked into web server logs and may be available to JavaScript via the `Referer` HTTP header. See [How Secure Are Query Strings Over HTTPS?](http://blog.httpwatch.com/2009/02/20/how-secure-are-query-strings-over-https/)

[2019-07-17 22:05] thomasplevy commented on #21
@eri-trabiccolo you're initial report is correct.

I removed `enrollments` as a top-level resource as having it there requires each enrollment to have it's own unique ID (which is not how LifterLMS currently functions).

It has, instead, been moved to be below students `[students/1234/enrollments](https://gocodebox.github.io/lifterlms-rest/#tag/Student-Enrollments)` so that each enrollment will be

[2019-07-17 22:06] thomasplevy commented on #21
Updated the spec, if you're happy with my explanation and thinking here please close the issue

[2019-07-17 22:11] thomasplevy commented on #2
@pondermatic

After writing this I did write the actual specification to pass these via headers rather than query variables, see the current state of the spec here: https://gocodebox.github.io/lifterlms-rest/#section/Authentication/Header-Authentication

However there's still danger in passing them this way as JS and logs could still record them.

I'm not terribly opposed to mandating basic auth t

[2019-07-17 22:12] #6 closed

[2019-07-18 07:01] eri-trabiccolo commented on #21
Yes thanks, it makes sense.
I knew you removed `enrollments` as a top-level resource, you actually told me when you did it, that's why I was confidente I had to open this issue. But then I checked #1 again and saw that

so I started to doubt of my understanding :D
Maybe we need to update #1 as well?

I'm closing this.

[2019-07-18 07:01] #21 closed

[2019-07-18 16:54] eri-trabiccolo commented on #4
Same macro topic.
The WP rest api adds the sub property `protected` (bool) to the `content` and `excerpt` properties.
The reason behind this is that those properties, when a post is password protected, are returned as empty string, so, that there's no way to discriminate between an empty content and a protected content (in `view` context).
I think we should add this sub property to the specs as we

[2019-07-18 16:55] eri-trabiccolo opened #24 "Password protected posts: should we add the 'protected' sub-property?"
The WP rest api adds the sub property protected (bool) to the content and excerpt properties.
The reason behind this is that those properties, when a post is password protected, are returned as empty string, so, that there's no way to discriminate between an empty content and a protected content (in view context).
I think we should add this sub property to the specs as well.
Of course it should be

[2019-07-18 17:07] thomasplevy commented on #24
What properties does the WP core leave unprotected on a password-protected post? It looks like just content and excerpt from what I can tell.

I suppose that title and some other information may be exposed because a password protected post when viewed on screen would normally show "Password Protected: Title of the Post" (I think) and then a password form. Right?

So if you read this via the API yo

[2019-07-18 17:08] thomasplevy commented on #4
See #24

[2019-07-18 17:10] thomasplevy commented on #21
Oh yea, okay, updated #1 to reflect current state

[2019-07-18 17:26] eri-trabiccolo commented on #24
Yes, just those two.

Yes and wp core, for the rest api response, also removes the "Password Protected: " prefix on purpose:

	/**
	 * Overwrites the default protected title format.
	 *
	 * By default, WordPress will show password protected posts with a title of
	 * "Protected: %s", as the REST API communicates the protected status of a post
	 * in a machine readable format, we remove the "Protect

[2019-07-18 19:02] thomasplevy opened #25 "Need an additional test case class in the framework specific to testing REST API Server methods"
https://github.com/gocodebox/lifterlms-rest/blob/f3c48dc6b90d56d074945102e3e6ec0ec8cf4672/tests/framework/class-llms-rest-unit-test-case.php#L19-L27

Since not all tests will require tests of actual REST API methods run via the actual REST API server I think a second test case should be created which extends this test case and then adds these this `setUp()` and `tearDown()` methods.

This test cas

[2019-07-19 15:00] eri-trabiccolo commented on #25
At the moment `LLMS_REST_Server_Unit_Test_Case` is the old `LLMS_REST_Unit_Test_Case`
and the new `LLMS_REST_Server_Unit_Test_Case` just does nothing.

[2019-07-19 15:26] thomasplevy commented on #25
@eri-trabiccolo perfect, I'll merge it in in a bit

[2019-07-19 15:43] thomasplevy opened #27 "Setup gh-pages auto-deployment via circleci"

[2019-07-19 15:53] thomasplevy opened #28 "Add model/schema definitions as the first item below each resource"
Allow easy viewing of each object/model/schema like most API references. For example:

[Stripe](https://stripe.com/docs/api/customers/object)
[WooCommerce](https://woocommerce.github.io/woocommerce-rest-api-docs/#customer-properties)

Currently tracking a PR in ReDocly that should make this pretty simple: https://github.com/Redocly/redoc/pull/681

We could also do this by adding custom HTML to eac

[2019-07-19 15:58] thomasplevy opened #29 "Resource: Courses"
- [ ] [List](https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses/get)
- [ ] [Create](https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses/post)
- [ ] [Retrieve](https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses~1{id}/get)
- [ ] [Update](https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses~1{id}/post)
- [ ] [Delete](htt

[2019-07-19 17:15] thomasplevy opened #30 "Resource: Sections"
- [x] [List](https://gocodebox.github.io/lifterlms-rest/#tag/Sections/paths/~1sections/get)
- [ ] [Create](https://gocodebox.github.io/lifterlms-rest/#tag/Sections/paths/~1sections/post)
- [x] [Retrieve](https://gocodebox.github.io/lifterlms-rest/#tag/Sections/paths/~1sections~1{id}/get)
- [ ] [Update](https://gocodebox.github.io/lifterlms-rest/#tag/Sections/paths/~1sections~1{id}/post)
- [x] [Del

[2019-07-20 15:00] eri-trabiccolo opened #31 "Students enrollments properties"
shouldn't the student_id and post_id be read-only?

[2019-07-22 15:24] thomasplevy commented on #31
Yea you're right.

Currently the spec is sharing a schema between all 3 enrollment resources (`students/{id}/{post_id}`, `courses/{id}/enrollments`, & `memberships/{id}/enrollments`. The response object can be shared but the request arguments need to be different.

I'll fix that up today.

[2019-07-22 15:26] thomasplevy opened #32 "Webhook Generation Interface"

[2019-07-22 23:00] #25 closed

[2019-07-26 12:48] eri-trabiccolo commented on #16
Do you want me opening an issue in core?

[2019-07-26 18:51] thomasplevy commented on #16
Yes

[2019-07-26 23:42] thomasplevy opened #36 "typo: preform => perform :P"
typo: preform => perform :P

_Originally posted by @eri-trabiccolo in https://github.com/gocodebox/lifterlms-rest/pull/34_

[2019-07-26 23:49] #2 closed

[2019-07-29 16:21] eri-trabiccolo opened #37 "Sections specs"
https://gocodebox.github.io/lifterlms-rest/#tag/Sections/paths/~1sections/get

orderby: `menu_order` shouldn't be there, while `order` should be there as it makes sense when filtering by parent.

Right?

[2019-07-29 16:24] eri-trabiccolo opened #38 "Courses: List course content specs"
https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses~1{id}~1content/get

- The `parent` arg doesn't make sense to me there, as we're already in the parent context.
- The `exclude` arg is missing... why?
- There's also the `password` arg, that in this case refers to the parent course, I guess. We've talked about the password protection inheritance but didn't come up with a defini

[2019-07-29 17:22] #36 closed

[2019-07-29 17:24] #38 closed

[2019-07-29 17:26] thomasplevy commented on #38
For now I'm going to remove this from this endpoint.

If the course is password protected the content provided by this endpoint will not be available via the REST API.

[2019-07-29 17:28] thomasplevy commented on #37
Correct :-D

[2019-07-29 17:29] #37 closed

[2019-07-29 17:57] #20 closed

[2019-07-29 18:18] #31 closed

[2019-07-30 13:10] eri-trabiccolo opened #40 "Sections spec: Content link"
See:
![Schermata 2019-07-30 alle 15 04 12](https://user-images.githubusercontent.com/7689242/62131476-94783a80-b2db-11e9-8634-b2394e05f7a4.png)

https://github.com/gocodebox/lifterlms-rest/blob/master/spec/components/schemas/SectionResponse.yaml#L48

It should be:
/wp-json/llms/v1/sections/987/content

right?!

P.S.
since you're there, small typo _prevous_ -> **previous**

[2019-07-31 22:26] thomasplevy opened #43 "Deletions should respond with 204 and no response content"
The spec defines a `204` status code for all deletions and an empty response body, eg: https://gocodebox.github.io/lifterlms-rest/#tag/Courses/paths/~1courses~1{id}/delete

It looks like we're currently mimicking the behavior of the WP Core's `WP_REST_Posts_Controller` and responding with a `200` as well as a body containing information about the deleted post.

I'm open to adjusting this to be a 2

[2019-07-31 22:37] eri-trabiccolo commented on #43
You're right, I agree, and you're not missing anything.

Yes , I started mimicking that and should've adapted it to our specs earlier!
Thanks for the feedback and the further explanation.

[2019-08-01 08:38] eri-trabiccolo commented on #43
So... should we also update the spec and remove the 404 response case? I guess so.

[2019-08-01 20:30] thomasplevy commented on #43
@eri-trabiccolo

I wasn't really considering trash when I started writing about this. The trash is not a _semantic_ deletion. It's a status change. That means that a real delete should always force and if you want to trash you should `POST` to the resource with to update the status to `trash`.

However, most consumer's (I assume) aren't going to think "If I want to trash a resource I need to updat

[2019-08-02 07:24] eri-trabiccolo commented on #43
I wasn't really considering trash when I started writing about this. The trash is not a semantic deletion. It's a status change. That means that a real delete should always force and if you want to trash you should POST to the resource with to update the status to trash.

[2019-08-02 17:03] thomasplevy commented on #43
I'm going to play semantics on this again... The HTTP Status definition says

Source: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/410

Since a trashed resource is still *technically* available (you could still `POST` to the resource to update its status to "published" and recover it) I don't know if 410 is the semantically correct response.

My understanding of idempotency is that if

[2019-08-02 20:13] eri-trabiccolo commented on #43
I see your point.
So ok get rid of `410` and stick to `200`.
Thanks

[2019-08-02 20:17] #27 closed

[2019-08-02 22:15] #28 closed

[2019-08-02 22:18] #43 closed

[2019-08-05 16:52] #40 closed

[2019-08-05 17:53] thomasplevy opened #44 "Resource: Students"

[2019-08-05 17:53] thomasplevy opened #45 "Resource: Instructors"

[2019-08-05 17:53] thomasplevy opened #46 "Resource: Lessons"

[2019-08-05 17:54] thomasplevy opened #47 "Resource: Quizzes"

[2019-08-05 17:55] thomasplevy opened #48 "Resource: Quiz Questions"

[2019-08-05 17:56] thomasplevy opened #49 "Resource: Access Plans"

[2019-08-05 18:04] thomasplevy opened #50 "Resource: Student Enrollments"

[2019-08-05 18:04] thomasplevy opened #51 "Resource: Student Progress"

[2019-08-05 18:04] thomasplevy opened #52 "Resource: Webhooks"

[2019-08-05 20:01] thomasplevy opened #53 "Unused variable `$schema` in LLMS_REST_Posts_Controller::register_routes() method."
https://github.com/gocodebox/lifterlms-rest/blob/9228dcd15c5846a3067b84da00e78a25fa547413/includes/abstracts/class-llms-rest-posts-controller.php#L76-L86

This variable is defined but never used. I'm not user if this variable is intended to be used instead of the callback reference on line 116 (https://github.com/gocodebox/lifterlms-rest/blob/9228dcd15c5846a3067b84da00e78a25fa547413/includes/abstr

[2019-08-05 20:05] eri-trabiccolo commented on #53
It's something I probably was using at a certain point. Now totally redundant can be removed.
I'm removing it in my "courses" branch. Thanks!

[2019-08-05 20:15] eri-trabiccolo commented on #53
fixed in d524980

[2019-08-05 20:46] thomasplevy commented on #53
@eri-trabiccolo I think I messed up... the variable is used right below on line 81... and now I'm not sure what I'm looking at in your fix. I think this issue is a non issues and should be ignored... Am I wrong?

[2019-08-05 20:52] eri-trabiccolo commented on #53
Mmm you know what? I misread this because the issue you pointed out was in the course controller, which, by chance was the file I was already looking at when I saw this issue. So I rapidly found that unused variable, but in another file...
That's what I fixed.

[2019-08-05 21:01] thomasplevy commented on #53
Cool! Closing this then (sorry and also you're welcome)

[2019-08-05 21:01] #53 closed

[2019-08-06 15:01] eri-trabiccolo opened #56 "Student Enrollments spec: a few questions"
1) Should we allow date creation customization?

![Schermata 2019-08-06 alle 16 29 36](https://user-images.githubusercontent.com/7689242/62548732-90ae6000-b867-11e9-995d-a69ce3ea842e.png)

The core api do not really provide this... as far as I can see.
Should we implement the code for the rest api only?

Shouldn't only allow for enrollments status changes?!

2) Should we allow 'custom' status on c

[2019-08-06 16:17] thomasplevy commented on #56
I think we should allow this and I think the core probably should at some point too. Let's move forward with this as specced and we can add something to an interface in the core somewhere as well.

I'm not sure if it'll ever make sense to create an enrollment with a cancelled / expired status. However since there's no identifier specific to each enrollment (there's no enrollment id the enrollment

[2019-08-06 16:50] eri-trabiccolo commented on #56
Mmm do you mean the route?
The endpoints can actually be different as they can use different methods (update and create share the POST method but update can also be PUT or PATCH - although I agree most likely it'll be POST), and return, as per the specs, two different "success" status...
Am I wrong? I wonder if wp will allow doing that without problems.

Yes.
But as said above I still need a way t

[2019-08-06 19:12] eri-trabiccolo commented on #43
@thomasplevy no need to re-open this, but wanted to highlight that spec still say that on course deletion can respond with a 404, which we said it should not... Or at least that's what I got.
And this should be extended to all the resources... right?

Let me know if otherwise.

Thanks.

[2019-08-07 19:01] eri-trabiccolo commented on #56
Man I'm a little bit lost here I have to be honest.
If we allow to create an enrollment with creation date in the future, what would be its status?
I mean none of `expired` `cancelled` `enrolled` would make sense, no?
Additionally: a status update might end up having a "date" which is before the creation date, so we should prevent this too.

Also an `enroll` triggers actions notifications react to

[2019-08-07 19:45] thomasplevy commented on #56
Sure we can switch it to `POST` to create and `PATCH` to update.

Instead of using `WP_REST_Server::CREATABLE` just use `POST` and `PATCH` respectively on the route's methods.

Regardless of the request method you'll still need to check if an enrollment record already exists.

You can use [`LLMS_Student::get_enrollment_status( $post_id )`](https://developer.lifterlms.com/reference/classes/llms_stu

[2019-08-07 19:47] thomasplevy commented on #43
I have a ton of spec updates to make and I keep losing track of them since they're all buried in more complicated conversations and issues. Going to open a new issue specifically for updating the spec here so I don't forget again. Thanks.

[2019-08-07 20:00] thomasplevy commented on #43
Spec fixed in https://github.com/gocodebox/lifterlms-rest/commit/2acb43f35423798b9e1c9dc43c5a814c4a4adc5f

[2019-08-08 14:38] eri-trabiccolo commented on #56
Yeah makes sense.

Yes, I would use that method because of the cache thanks. At the moment to actually get an enrollment "object" I use the same custom SQL query I'm using to fetch the enrollments collection, which is not cached.

Yes, also 'ideally' creation and update need different permissions too. To create you should be able to `enroll` while to update you should be able to `unenroll` too as

[2019-08-09 01:47] #56 closed

[2019-08-09 01:47] thomasplevy commented on #56
I think I've got all this fixed now with the above commit. If I've missed something please reopen and let me know.

[2019-08-09 21:42] thomasplevy commented on #44
Completed!

[2019-08-09 21:42] #44 closed

[2019-08-09 21:45] thomasplevy opened #60 "Resource: Memberships"

[2019-08-12 18:16] eri-trabiccolo commented on #29
Cannot although all the items, anyway if I could I would have checked all of them.
Tests and abstraction can be improved though.

Feel free to reopen if you want/need.

[2019-08-12 18:16] #29 closed

[2019-08-13 11:14] eri-trabiccolo opened #61 "Lessons spec: _link `parent` type should be 'section'"
<img width="318" alt="Schermata 2019-08-13 alle 13 13 24" src="https://user-images.githubusercontent.com/7689242/62937226-49c2ec00-bdcc-11e9-972a-7c7ec7a5a6f6.png">

[2019-08-13 11:19] eri-trabiccolo opened #62 "Lessons spec: `parent` collection param is missing"
We should be able to filter the lessons at least by `parent` section.
This is "suggested" by the `siblings` link:
<img width="350" alt="Schermata 2019-08-13 alle 13 21 25" src="https://user-images.githubusercontent.com/7689242/62937589-598f0000-bdcd-11e9-9b22-7169ea14015d.png">

[2019-08-13 17:04] eri-trabiccolo commented on #30
@thomasplevy
I'm finishing this...
Do you think that, when creating/updating a section we should avoid having sections with the same order? Meaning add some logic to "auto-increment" the `order` property?

[2019-08-13 17:13] eri-trabiccolo commented on #50
Status of this Resource:

- [x] List
- [x] Create
- [x] Retrieve
- [x] Update
- [x] Delete
- [x] List Content
- [ ] Test Coverage 90% or greater

Test Coverage at the moment is at 87%.
Also not sure if it what I wrote [here](https://github.com/gocodebox/lifterlms-rest/pull/59#issuecomment-519989769) has been looked into.

[2019-08-14 21:53] #18 closed

[2019-08-14 21:53] #32 closed

[2019-08-14 22:21] thomasplevy commented on #30
@eri-trabiccolo

Yes... we should.

I'm not entirely certain the best way to do this is.... Since we'll always have a "parent_id" for the course, the *default* value could be to push it to the end of the course. Preform a lookup for the last section's order and add one to it...

It gets more complicated when updating a section though.... What should happen if you update with an order that already

[2019-08-14 22:26] #61 closed

[2019-08-14 22:26] #62 closed

[2019-08-14 22:30] eri-trabiccolo commented on #30
Yeah complicated, nope I have no thoughts for good strategies here at the moment.
I see how "ordering" sections might be complicated with the current api.

[2019-08-14 23:21] thomasplevy commented on #50
From the PR:

I'm not sure whether that's the kind of creation date update you wanted (with direct alteration of the updated_date db table column for that enrollment meta whose value is _start_date), with NO effects on the "enrollment's update date".

This looks good enough. It's not ideal but I think that's more because of the way the existing db is structured. It works. We can improve later. Nic

[2019-08-15 06:19] #51 closed

[2019-08-15 06:21] thomasplevy opened #65 "Spec: Document common errors"

[2019-08-15 07:36] eri-trabiccolo opened #66 "All public taxonomies should appear under _links (?)"
https://github.com/gocodebox/lifterlms-rest/blob/f3e9ae4b1d8453444592a54e8eb05fcb15a23891/includes/abstracts/class-llms-rest-posts-controller.php#L1172

(There's another occurrence of the show_in_rest filtering but it's about updating permission, so it might even stay the way it is right now.)

[2019-08-15 07:48] thomasplevy commented on #66
A change in LifterLMS blocks caused the filter on courses to break:

https://github.com/gocodebox/lifterlms-blocks/commit/eb20f8f520c278d3c05596af81e44c0a27deb881#diff-1a09c7233092054a9619cd53afbf16e6R58

I needed to change the blocks functionality to prevent exposing course data to unauthenticated users via GET requests to the API.

Our custom post types and taxonomies need to be shown in rest on

[2019-08-15 08:36] thomasplevy opened #67 "Spec: Document pagination variables as a primary section"

[2019-08-15 09:21] thomasplevy opened #68 "Build should push composer.json to trunk so that the tags will show in packagist"

[2019-08-16 16:50] thomasplevy opened #69 "Deploy to developer.lifterlms.com instead of gh-pages"

[2019-08-16 16:51] thomasplevy opened #70 "add option to download keys as json after generation"

[2019-08-16 17:00] thomasplevy opened #71 "add "required" property/validation to the the "Description" field on the api generation interface"

[2019-08-16 17:01] thomasplevy opened #72 "add message about keys not being seen again above fields after generation instead of as an admin notice at the top of the screen"

[2019-08-16 21:44] #68 closed

[2019-08-16 21:44] #70 closed

[2019-08-16 21:44] #71 closed

[2019-08-16 21:44] #52 closed

[2019-08-16 21:45] thomasplevy commented on #72
Closed by https://github.com/gocodebox/lifterlms-rest/commit/d506c42245b01c03b4949c42b2c51984a31b1a7a

[2019-08-16 21:45] #72 closed

[2019-08-19 08:22] eri-trabiccolo opened #73 "Performances: cache controller's schema"
see: https://core.trac.wordpress.org/changeset/45811/

[2019-08-19 10:49] eri-trabiccolo commented on #66
Considering that nothing in [WP_Taxonomy](https://developer.wordpress.org/reference/classes/wp_taxonomy/) forbids us to add a "custom" object property, what do you think if when registering our taxonomies (that we want to show in our rest resources) in llms core we add the key/value `'show_in_llms_rest' => true` pair to the array of args?
I see that's not completely orthodox as that won't be a dec

[2019-08-19 15:40] thomasplevy commented on #73
Makes sense, we can add this pattern to our controllers pretty easily I'd say, right?

[2019-08-19 15:41] eri-trabiccolo commented on #73
yes, right.

[2019-08-19 15:44] thomasplevy commented on #66
That sounds like a great solution to me

[2019-08-19 16:00] eri-trabiccolo commented on #30
Create and Update checklist items are not completed because of the auto-increment issue discussed above.

[2019-08-19 16:11] eri-trabiccolo opened #75 "Pagination: uniform the way the pagination links are returned so that we can abstract it."
Compare this:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.2/includes/abstracts/class-llms-rest-controller.php#L253-L280

with this:
https://github.com/gocodebox/lifterlms-rest/blob/master/includes/abstracts/class-llms-rest-posts-controller.php#L142-L161

In the first case we return the "first" page link only if the current page is different than 1, and the "last" only if the curren

[2019-08-19 17:11] thomasplevy opened #77 "Enrollments Resource returns `string` id's instead of correct `int` values"
`post_id` and `student_id` properties are currently returned as strings.

[2019-08-19 17:37] thomasplevy commented on #75
@eri-trabiccolo

Good catch.

You are correct that these are absolute but the links themselves are absolute/unchanging however the purpose of the relationship links are to provide consumers with a means to traverse the pages without having to build their own URLs. My thinking is that we should only provide consumers with what they require here and what I mean by that is that if you're currently on

[2019-08-19 18:17] thomasplevy commented on #30
I've been thinking (and reading) about this design problem and I think we need to adjust the way this is handled all together. This should also apply to all our resources with a structured order property (sections, lessons, questions, etc...).

1) The "order" property should become read only
2) A new resource will always be auto-incremented and dropped to the end of the list (this will have to be

[2019-08-19 18:41] eri-trabiccolo commented on #30
I had a similar thought, though less structured eheh.
I thought that the default behavior should have been the auto-increment (which implied making the order read-only) mostly because it made no sense to me that we "arbitrarily" change a property sent by the consumer...
Then I thought that we needed an endpoint (similar to the WooCommerce's "batch") that would allow exactly what you described abov

[2019-08-19 20:59] thomasplevy commented on #30
Cool. I'll work out a spec for the PATCH endpoint(s) tomorrow.

[2019-08-19 21:00] thomasplevy opened #78 "SPEC: Add `PATCH` endpoint for updating order of children items within their parents"
See discussion in #30

[2019-08-19 21:01] #66 closed

[2019-08-20 10:04] eri-trabiccolo commented on #77
They should be casted to int as soon as possible, I mean here:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.3/includes/server/class-llms-rest-enrollments-controller.php#L882

[2019-08-20 11:41] eri-trabiccolo commented on #75
Makes sense.
So let's uniform to https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.2/includes/abstracts/class-llms-rest-controller.php#L253-L280

[2019-08-20 12:12] eri-trabiccolo commented on #50
I'm on this.
So... I leave the update/create/delete permissions as they are right now: `current_user_can('enroll')` && || `current_user_can('unenroll')`
The single enrollment read permission will become as you suggested:
`current_user_can( 'view_students', $enrollment->student_id )`
While, listing the enrollments will be allowed to anyone as we do for llms posts:
keeping in mind that, when process

[2019-08-20 16:46] thomasplevy commented on #75
Sounds good

[2019-08-20 17:50] #69 closed

[2019-08-21 10:47] eri-trabiccolo commented on #30
@thomasplevy
I think I missed the following part when I replied, probably because you've added it while I was replying, not sure...

I see.
Does this mean that, in core, you won't be able to set the children order via the children api?
I mean you cannot do `$section->set('order', 2)` anymore?

I'm thinking that moving in the direction you proposed would even make having the same section in multipl

[2019-08-21 19:42] #77 closed

[2019-08-28 15:01] pondermatic opened #81 "Lesson vs. Lessons"
All of the paths use plural words except "lesson". Should it be changed to "lessons" for consistency?

[2019-08-28 15:19] eri-trabiccolo commented on #50
I think we can close this.

[2019-08-28 15:19] #50 closed

[2019-08-28 16:53] #81 closed, assigned to nobody

[2019-09-05 17:08] eri-trabiccolo opened #85 "Lessons: question about assignment properties and link visibility"
Should the `assignment` properties (and link) be returned if the related addon is not active?
In my opinion it should be not...

What do you think?

If it should be not then it must be available in the schema ONLY IF the addon is active.

@thomasplevy ^

[2019-09-05 17:13] thomasplevy commented on #85
@eri-trabiccolo

The assignment property itself will actually be implemented as an addition to the assignments add-on codebase (not as part of the rest api feature plugin itself included in the core.

The docs allude to this but don't say so explicitly so an update to the spec is in order:

We should add something like "This property is only returned when the assignments add-on plugin is activated

[2019-09-05 17:14] thomasplevy commented on #85
Therefore the schema and object returns in the rest api codebase *must be filterable* so the add-on can alter the schema.

[2019-09-05 17:14] eri-trabiccolo commented on #85
Ah ok. cool!

[2019-09-05 17:17] thomasplevy opened #86 "Add lesson schema definition (properties) to top level of the spec under lessons"

[2019-09-11 15:39] eri-trabiccolo opened #87 "Courses spec: enrollments/access dates should be nullable"
see
https://github.com/gocodebox/lifterlms-rest/issues/16#issuecomment-508250705

as the `drip_date` is for the Lesson resource.

Right?

[2019-09-13 21:56] thomasplevy commented on #87
Yes, an update to the spec is in order

[2019-09-13 22:05] eri-trabiccolo commented on #87
Ok so I will also make a PR to make the controller follow the upcoming new spec...

[2019-09-14 01:56] thomasplevy commented on #87
Here's how to make a property nullable:

https://github.com/gocodebox/lifterlms-rest/blob/18dd56f0344aa8e8805830fbe4d609fe1e8fb255/spec/components/schemas/Lesson.yaml#L80

Update the property in the spec for me please and include it in the PR

[2019-09-19 20:14] thomasplevy opened #90 "Delete API Keys when user is deleted"
Per core https://github.com/gocodebox/lifterlms/issues/940

[2019-09-23 21:37] pondermatic opened #91 "Properties defined multiple times"
In the LifterLMS REST API spec, some schemas end up having properties that are defined multiple times. For example, `#/components/schemas/Course` uses `allOf` to bring in `#/components/schemas/PostPublic`, which defines the `post_type` property, and also to re-define the `post_type` property with a more specific example field. This passes several validator tools that I've used and document viewers

[2019-09-23 23:02] thomasplevy commented on #91
@pondermatic

As far as I've been able to determine it's okay to redefine properties in order to override things that are shared from a schema.

This is not an oversight or a bug on my part. I've done this in order to allow overwriting certain things (such as a description) in the rendered spec.

I don't know about NSwag but I'm concerned with passing the "official" OpenAPI Spec Validators (Swagge

[2019-09-24 12:57] pondermatic commented on #91
I'm not sure if it's OK to redefine **some** property attributes or if NSwag **should** be handling multiple definitions. I suspect that NSwag is in the wrong here and wanted to get your feedback on it.

I'm going to try the official [Swagger Codegen](https://github.com/swagger-api/swagger-codegen) to see how it handles multiple definitions.

[2019-09-24 19:12] #75 closed

[2019-09-24 19:19] pondermatic commented on #91
There is an online version of [Swagger Codegen](https://generator3.swagger.io/ui/). I tested the `POST /generate` operation with the following request body:
[code]

The results in `docs/Model` and `lib/Model` files are mixed.
- `default` field uses the extended version. Yay!
- `description` field uses the base version. Boo!
- `example` field is not used.

There may be other fields to examine, but

[2019-09-24 19:19] #91 closed

[2019-09-24 19:20] #87 closed

[2019-09-24 19:25] thomasplevy commented on #91
@pondermatic

I'm really not sure if you're looking for me to do anything here...

I'm not sure if I should be trying to fix something that's not entirely clear, especially because for our implementation (using this as a documentation generator) it's not causing any issues that I can find...

If you're just looking to discuss than I'm sorry but I'm up to my ears in other things and I don't really

[2019-09-24 20:04] pondermatic commented on #91
There's no need for you to do anything. That's why I closed the issue. I was mainly documenting the issue and what I found in case anybody (including me) runs into it in the future.

What I should next is:

- Open an issue in the [OpenAPI-Specification](https://github.com/OAI/OpenAPI-Specification) project asking for clarification on how `allOf` should behave when property fields are defined multi

[2019-09-26 13:23] pondermatic opened #95 "Delete student enrollment requires change to enrollment status"
If a `DELETE /students/{id}/enrollments/{post_id}` operation is performed on a membership enrollment with a status of `enrolled`, the student report page still displays a membership but with a blank status and enrolled column. If a `PATCH /students/{id}/enrollments/{post_id}` operation changes the `status` to `cancelled` before the `DELETE` operation, the enrollment is correctly removed from the s

[2019-09-26 13:27] eri-trabiccolo commented on #95
I think 3. should be along with 1. if we choose 1. as solution.
I don't think we should allow producing inconsitent data with our api :D.
What do you think?!

[2019-09-26 16:46] thomasplevy commented on #95
@eri-trabiccolo

From [Slack in `#developers`](https://lifterlms.slack.com/archives/CCESQHE82/p1569502291119300):

Under the hood `DELETE /students/{id}/enrollments/{post_id}` is using [`LLMS_Student::delete_ delete_enrollment`](https://developer.lifterlms.com/reference/classes/llms_student/delete_enrollment/)

I didn't set up an actual test case but it looks to me like this method should actually

[2019-09-26 16:49] eri-trabiccolo commented on #95
Well it doesn't trigger some "unenrollment" action hooks + doesnt' do this:
https://github.com/gocodebox/lifterlms/blob/master/includes/models/model.llms.student.php#L1568

[2019-09-26 16:56] eri-trabiccolo commented on #95
Also we have another thing to maybe take into account:
When *deleting* an enrollment from the order metabox we also set that order status to `cancelled`.
So I guess that, for consistency, we should do the same here...
We should get the current trigger of the enrollment being deleted, and if it's an existing order we should also set this order status to `cancelled`, right?!

[2019-09-26 16:58] thomasplevy commented on #95
Okay thanks!

The idea behind making only non-active enrollments deletable is that I don't want admins to have any confusion around the difference between deleting and unenrolling. I think it makes sense to maintain consistency in the API but I also want to reduce the complexity of developing applications. If we enforce this same design on the API it requires 2 api calls to do what it feels like s

[2019-09-26 17:00] thomasplevy commented on #95
This is something that probably shouldn't be moved out of the metabox code and into the orders controller.

The order status should be updated automatically using the hook for the enrollment status change.

This way the REST API doesn't need to duplicate logic from the admin panel metabox handlers

[2019-09-26 17:06] pondermatic commented on #95
I like the idea of adding a `force` parameter.

[2019-09-26 17:26] eri-trabiccolo commented on #95
@thomasplevy
I would love this but I don't think it's really easy to do right now, or better, it requires an additional query as far as I can see...

When deleting an enrollment with the REST API, we delete basically all the enrollment post metas related to a student ID and a product ID.
We don't have any info on the trigger, so we first need to know what's the enrollment (current) trigger so that

[2019-09-26 17:31] thomasplevy commented on #95
I think that means we should also add an (optional) "trigger" parameter to both creation/update/and deletion requests for enrollments, right? It's defaulting to "any" as the trigger under the hood but we should probably allow triggers to be specified during the request. Right?

[2019-09-26 17:41] eri-trabiccolo commented on #95
Not sure, you say ok it's up to you if you don't pass the current trigger, and to know what is you should make another request... Ah no we don't return the enrollment trigger, so how a consumer can know it?
So we have to add this new prop. Right?

[2019-09-26 19:36] thomasplevy commented on #95
Yes... we'll need to add a new property too.

[2019-09-27 14:26] eri-trabiccolo commented on #95
While working at the resolution of this I've had the occasion to think a little more about the whole issue, and test the things in core a little more.
We're forgetting one thing (and I did when developed the enrollment deletion feature):
 when running a membership enrollment deletion, which presumably auto-enrolled the students in several courses, at the moment, is not deleting the student-course

[2019-09-27 15:47] thomasplevy commented on #95
@eri-trabiccolo good catch on https://github.com/gocodebox/lifterlms/issues/952 but I don't see how that issue caused what @pondermatic has raised in this issue.

[2019-09-27 16:02] eri-trabiccolo commented on #95
Have to integrate that issue and you'll get.

[2019-09-27 17:20] thomasplevy commented on #95
@eri-trabiccolo so we still need a solution to this issue then, right? I'm still thinking the `force` parameter is pretty okay as a solution but we need to unpack the whole trigger thing before we start reworking the spec to accommodate triggers.

[2019-09-27 17:23] #85 closed

[2019-09-27 17:34] eri-trabiccolo commented on #95
Nope @thomasplevy
https://github.com/gocodebox/lifterlms/pull/953 fixes the `'force'` issue. Basically with https://github.com/gocodebox/lifterlms/pull/953 deleting an enrollment deletes everything related to that enrollment, because the core will do.
with https://github.com/gocodebox/lifterlms/pull/953 the `force` will be totally useless.

We just need to unpack the `trigger` thing (which could b

[2019-09-27 18:11] #95 closed

[2019-09-27 19:40] pondermatic opened #97 "Update beta version from 6 to 7"
https://github.com/gocodebox/lifterlms-rest/blob/1457f25a0a569e0ccb3588bb11b1bc111a1b66f9/spec/openapi.yaml#L3

[2019-09-27 19:49] thomasplevy commented on #97
Woops. I rewrote my versioning tool and forgot to include a custom addition for this file. I'll fix it shortly

[2019-09-27 20:58] #97 closed

[2019-10-02 17:38] eri-trabiccolo opened #99 "Courses: `sales_page_type` must be `none` if no course sales page type has been set"
While now it returns `''`.

[2019-10-03 15:00] eri-trabiccolo commented on #17
In the October bug scrub we discussed a little more in depth on how to handle the llms posts restrictions and we decided to do as following:
1) use the llms core api (`llms_page_resctricted($id)`) to retrieve the restriction status of the post (force the wp_query fields as needed by the llms core api, e.g. `is_singular`);
2) add a new ro sub-property to the resource's `content` property (and possi

[2019-10-04 17:50] eri-trabiccolo commented on #17
@thomasplevy
I've spent some time looking the "redirect" matter: what rendered content (empty?!) display when a post is restricted + the llms core forces a redirection.

All the redirection logic, as far as I can see, is here:
https://github.com/gocodebox/lifterlms/blob/3.36.2/includes/class.llms.template.loader.php#L10
mostly:
https://github.com/gocodebox/lifterlms/blob/3.36.2/includes/class.llms

[2019-10-07 16:31] thomasplevy commented on #17
@eri-trabiccolo

I think this is a good direction and seems less complicated now that you've worked through it a bit.

As far as redeclaring logic I'm not sure I see any better way to do it either. I don't really see a way to refactor the core to make eliminate this redundancy but if you come up with any way we can bundle some of this logic into new core functions to reduce the redundancy I'm all

[2019-10-10 12:33] eri-trabiccolo opened #101 "Courses: properties name error - sales_page_page_type, sales_page_page_url"
They should be, according to the specs,
`sales_page_type`
`sales_page_url`

thanks to @pondermatic for reporting it.

[2019-10-11 14:17] eri-trabiccolo commented on #17
Hi @thomasplevy
I'm working on this branch https://github.com/eri-trabiccolo/lifterlms-rest/tree/restrictions
If you're interested on the ongoing development of this and you have the time take a look at the `LLMS_REST_Posts_Controller::maybe_restrict_object_data()` method where I've centralized the restrictions handling.

[2019-10-11 15:44] thomasplevy commented on #17
@eri-trabiccolo please remind me about this on Monday if I forget

[2019-10-11 16:07] eri-trabiccolo commented on #17
@thomasplevy I hope a will have a working PR for Monday! :)

[2019-10-11 16:12] thomasplevy commented on #17
It looks pretty sound to me. I read through it pretty quickly but it's pretty clear and seems to do what it looks like it should do (despite it being some unfortunately complicated logic to make it all work).

I'll do a full review on it after you submit the PR sometime next week.

I think it's solid though, nice work

[2019-10-12 18:45] eri-trabiccolo commented on #17
--------------

_**For Thomas**: please don't dive into this right now, I'll ping you in the coming days: This comment can be broken in more than one issue, but I needed to write my thoughts on the matter in one place first as it's all connected (at least in my brain)._

--------------
**We should empty** the `audio_embed` and `video_embed` properties (for those post types who have them) as well w

[2019-10-14 15:06] eri-trabiccolo opened #105 "Courses: missing quotes around id values in the enrollment/access messages default shortcodes"

[2019-10-15 05:59] #105 closed

[2019-10-15 06:11] #99 closed

[2019-10-15 06:11] #101 closed

[2019-10-15 15:17] eri-trabiccolo opened #108 "Use html and/or backticks in resources properties descriptions?"
This is the hamletic question afflicting me and @pondermatic on slack!

James says:

but we also found that no backticks are used as well.

James:

Me:

James

We both think:

At the moment I used backticks somewhere and html markup somewhere else.

[2019-10-15 15:37] eri-trabiccolo commented on #108
Sorry, talking about description field in the actual codebase.

OK, so I will make a PR to purge description fields in the codebase from html, and use backticks.

Thanks.

[2019-10-15 15:37] pondermatic commented on #108
Interesting word! "undecided".
https://en.wiktionary.org/wiki/Hamletic

[2019-10-15 15:40] eri-trabiccolo commented on #108
Oh sorry, I forgot to reply to that.
Well in Italy "hamletic" (_amletico_, in italian) is a pretty widespread adjective, meaning "undecided" with some tragedy in it :D
And of course refers to Shakespeare's Hamlet.

[2019-10-15 15:53] eri-trabiccolo opened #109 "Links to llms terms lead to 404 for non logged in users/users with no "instructor" caps"
Related to:
https://github.com/gocodebox/lifterlms-rest/issues/66
introduced in: https://github.com/gocodebox/lifterlms-blocks/commit/eb20f8f520c278d3c05596af81e44c0a27deb881#diff-1a09c7233092054a9619cd53afbf16e6R58

Since our taxonomies are not always shown in rest routes like
`/wp-json/wp/v2/course_cat` or `/wp-json/wp/v2/course_tag` that are returned in courses links do not exist for non logged

[2019-10-15 16:03] thomasplevy commented on #108
@eri-trabiccolo sounds good. I think the priority on this is pretty low.

[2019-10-15 17:30] eri-trabiccolo opened #111 "Specs - Membership links in response sample: `membership_difficulty` and `membership_track` do not exist"

[2019-10-17 14:36] eri-trabiccolo opened #113 "Specs - Remove 404 response status on DELETE"
see: https://github.com/gocodebox/lifterlms-rest/issues/43#issuecomment-519243251

[2019-10-18 16:22] #111 closed

[2019-10-23 14:21] eri-trabiccolo opened #121 "Courses `sales_page_page_id` and `sales_page_url` should always be returned in edit context"
This has been highlighted by @pondermatic in his work on the memberships controller implementation.

I think that's a valid point, because, if I want to update one of those properties I must know their original value otherwise I end up generating a wp-error because, as we know, [we cannot update a meta with the same](https://github.com/gocodebox/lifterlms/blob/3.36.2/includes/abstracts/abstract.ll

[2019-10-24 10:29] eri-trabiccolo opened #124 "PHP warning on first plugin activation b/c of a query performed on a non existing table."
[code]

[2019-10-24 12:27] eri-trabiccolo commented on #124
Fis proposed in #125
Although I'm not sure it doesn't introduce any regression, because the webhooks load has been moved from 10 to 1 in
https://github.com/gocodebox/lifterlms-rest/commit/131d21d1208bb29b153deadff210a97f8a6bb850
but I don't exactly know which webhooks were not triggered.

`rest_api_init` action fires at `init` 10

Alternatively, maybe, we can keep the priority 1 and make a check o

[2019-10-24 19:17] #109 closed

[2019-10-24 19:29] #121 closed

[2019-10-24 19:45] #124 closed

[2019-10-26 13:27] pondermatic opened #129 "Create/Update with an instructor that does not exist or no instructors"
While writing the memberships API, I wondered if the results of the following tests are correct.
@thomasplevy & @eri-trabiccolo, What should the result of the following tests be?

### Tests

1. Create membership with non-existing instructor.
instructors = current user
2. Create membership with one instructor that exists and one that does not.
instructors = existing instructor
3. Update membership

[2019-10-26 16:10] pondermatic opened #130 "Return `sales_page_url` if context = edit"
If the condition on [LLMS_REST_Courses_Controller line 659](https://github.com/gocodebox/lifterlms-rest/blob/7a59d8ab4f90ce50d6fde951eee7c4f91e7b541c/includes/server/class-llms-rest-courses-controller.php#L659) is true, then line 662 will not be executed, even if `context` is `edit`.

[2019-10-26 16:14] eri-trabiccolo commented on #130
Right!
Stupid me :)

[2019-10-26 16:35] eri-trabiccolo commented on #129
My idea is that if you don't provide any instructors on creation then the author will be set as instructor as fall back.

But if you provide a list (included an empty list) of instructors it has to be a valid list of users that are instructors: mimicking the wp admin where you can select the instructor only from a list of actual instructors.

IMHO at maximum we can allow providing an empty list th

[2019-10-29 09:50] eri-trabiccolo commented on #46
can we say this is done?
I think we can consider this and Sections done except for the "order" thing.
See:
https://github.com/gocodebox/lifterlms-rest/issues/30#issuecomment-522751545
and my comment below it.

[2019-10-29 11:00] eri-trabiccolo opened #131 "LLMS post date properties (and WP 5.3): make them nullable and account for date_floating property"
In WP 5.3 there will be some changes that will impact on the wp posts date properties.
They will impact the rest-api as well as you can see in the following two commits:
(null dates) https://github.com/WordPress/WordPress/commit/b15c0d410ea5bda4ec09af7f105a755f9e31cd21#diff-2bdd57a49dbaa7ba0108f91132d37216
(floating date)
https://github.com/WordPress/WordPress/commit/ef86b03619268ddcdd344bdaa798ca

[2019-10-30 11:13] eri-trabiccolo opened #133 "Specs: Courses/Memberships `sales_page_page_id` and `sales_page_url` should always be returned in edit context"
See: https://github.com/gocodebox/lifterlms-rest/issues/121
specs should be updated accordingly.

[2019-10-30 11:39] eri-trabiccolo opened #134 "Specs: Memberships - `restriction_page_id` and `restriction_url` should mimick `sales_page_page_id` and `sales_page_url` props."
Meaning that, as for the similar `sales_page_*` props:
`restriction_page_id` should only be returned when `restriction_action` equals `page`  or context is `edit` (see also #133)
`restriction_page_url` should only be returned when `restriction_action` equals `custom`  or context is `edit` (see also #133)

@pondermatic memberships PR already follows this logic:
https://github.com/gocodebox/lifterlm

[2019-10-31 22:46] #113 closed

[2019-10-31 22:47] #86 closed

[2019-10-31 22:56] thomasplevy commented on #129
You should *not* be able to *create* instructors through a membership / course create/update requests.

I agree with @eri-trabiccolo

If you send through a list of instructors it should be validated and if it contains any invalid instructors an error should be returned. If there's even a single invalid instructor in that list it should return an error denoting that instructors must be valid.

The

[2019-10-31 22:57] #130 closed

[2019-10-31 23:00] thomasplevy commented on #46
Yea, we're tracking that in #78 so we can close this (I'll let you get the dopamine since you did the work)!

[2019-11-04 17:13] #46 closed

[2019-11-04 17:15] eri-trabiccolo commented on #30
As for #46 we're tracking the `order` issue in
https://github.com/gocodebox/lifterlms-rest/issues/78

[2019-11-04 17:15] #30 closed

[2019-11-05 16:07] eri-trabiccolo opened #136 "Posts Controller: posts query ran twice"
once:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.8/includes/abstracts/class-llms-rest-controller.php#L196

https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.8/includes/abstracts/class-llms-rest-posts-controller.php#L668

twice:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.8/includes/abstracts/class-llms-rest-controller.php#L213

https://github.com/gocodebo

[2019-11-05 16:12] eri-trabiccolo commented on #47
To whom It may concern
WIP here:
https://github.com/eri-trabiccolo/lifterlms-rest/tree/quizzes

[2019-11-05 16:59] #136 closed

[2019-11-05 17:43] #60 closed

[2019-11-05 21:34] #129 closed

[2019-11-11 14:30] eri-trabiccolo opened #139 "`llms_rest_course_filters_removed_for_response`, `llms_rest_llms_membership_filters_removed_for_response`, `llms_rest_lesson_filters_removed_for_response` filter hooks not fired."
These filter hooks are dynamically generated in the `LLMS_REST_Posts_Controller` method `get_filters_to_be_removed_for_response()`:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.8/includes/abstracts/class-llms-rest-posts-controller.php#L1332

But these hooks are not fired in the extending classes override methods, e.g.:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.8/in

[2019-11-11 18:17] #139 closed

[2019-11-13 20:06] thomasplevy opened #141 "Allow requests to "expand" links"
I'll write up more information about this later.

[2019-12-09 14:01] eri-trabiccolo opened #142 "On student creation/registration no welcome email is sent"
I guess because we don't fire the `lifterlms_user_registered` action...

Reported on HS-106676

[2019-12-10 17:06] thomasplevy commented on #142
This is a bug, yes. Student user registration *should* trigger core actions (and notifications).

Note that the core controller where the actions would be triggered is shared between student creation and instructor creation. These core actions should only be triggered when creating students *not* when creating instructors.

[2020-01-16 11:17] eri-trabiccolo opened #143 "Spec: Update Students resource's documentation adding the `context` to the properties."
reported: https://wordpress.org/support/topic/api-request-error-11/#post-12320742

[2020-01-21 20:59] thomasplevy opened #144 "Translation functions missing text domains"
These two strings are missing the `lifterlms` textdomain. Because I copied them from the WordPress core and forgot to change it.

https://github.com/gocodebox/lifterlms-rest/blob/278b74ad237d09ed035a6b115ba91fe5cd8d61f5/includes/abstracts/class-llms-rest-controller-stubs.php#L54

https://github.com/gocodebox/lifterlms-rest/blob/278b74ad237d09ed035a6b115ba91fe5cd8d61f5/includes/abstracts/class-llms

[2020-01-27 15:32] eri-trabiccolo opened #145 "Students: Allow students filtering by email address"
Add `search` and `search_columns` request parameters to the LIST students endpoint (https://developer.lifterlms.com/rest-api/#tag/Students/paths/~1students/get)

These parameters should map to the underlying `WP_User_Query()` (https://developer.wordpress.org/reference/classes/WP_User_Query/prepare_query/)

[2020-01-31 14:53] eri-trabiccolo commented on #17
@thomasplevy
so in the latest days, I kinda slowly back on working on this, I'm going to write tests on what I've done until now: which is basically what we discussed - add the `restricted` sub-property for the llms posts `content` and `excerpt` properties + handle the restrictions mostly mimicking the core's template loader.
When you got time could you take a look at my comment above?
My PR won't

[2020-01-31 16:43] thomasplevy commented on #17
@eri-trabiccolo

Your "crude" seems good to me.

This is also a model we could very likely use elsewhere in the codebase as well.

**BTW do you think we should disable the view manager in rest calls? Would make sense IMHO.**

Do you mean the class the restriction function causing the redirects / filters to remove the post content?

Yes. I think that would make sense *as long as* all our rest contr

[2020-01-31 17:02] eri-trabiccolo commented on #17
@thomasplevy

I mean that, in rest calls, we should not load this class at all:
https://github.com/gocodebox/lifterlms/blob/master/includes/class.llms.view.manager.php
and add proper filters to handle the restrictions based on the caps + context (`edit`).

Yep, because audio and video properties will change their data structure.

Thanks for the feedback man, much appreciated!

[2020-01-31 17:50] thomasplevy commented on #17
Oh, yea, kill the view manager in rest for sure

[2020-02-05 00:22] thomasplevy opened #147 "Tests failing on PHP 7.4."
As far as I can tell (from physical usage of the REST API locally on a 7.4 env) the api itself functions just fine but the tests are failing on 7.4

See CircleCI output of the latest set of tests: https://app.circleci.com/jobs/github/gocodebox/lifterlms-rest/1318

[2020-02-05 00:24] thomasplevy commented on #143
Am I missing something?

![Screenshot_2020-02-04_16-24-19](https://user-images.githubusercontent.com/1290739/73799429-d68ea700-476a-11ea-9610-5d37964778c5.png)

[2020-02-05 08:48] eri-trabiccolo commented on #143
I was probably inaccurate.

E.g.
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.9/includes/abstracts/class-llms-rest-users-controller.php#L247

The username property is available only in `edit` context, but the student's resource documentation doesn't mention that, and so on...

![Schermata 2020-02-05 alle 09 43 58](https://user-images.githubusercontent.com/7689242/73825340-19e52600-4

[2020-02-05 15:53] eri-trabiccolo commented on #147
This seems to be due to wp using functions deprecated in PHP 7.4.
I've been able to reproduce this locally. Well actually I get a lot more errors all seems to stem from:
`PHP Deprecated:  Function get_magic_quotes_gpc() is deprecated in /srv/www/wordpress-trunk/public_html/src/wp-includes/formatting.php on line 4769
`
or similar.

[2020-02-24 18:27] eri-trabiccolo commented on #143
also reported/asked here on hs # 112601

[2020-02-24 19:53] thomasplevy commented on #143
@eri-trabiccolo I spent a while the other day trying to figure out how to provide conditional examples of information provided in various contexts. This is an issue that has come up a few times now with this particular endpoint but will occur across many rest endpoints.

Do you have any ideas how to best document what displays in what context?

The WordPress core essentially ignores this (like we

[2020-02-24 19:57] thomasplevy commented on #143
@eri-trabiccolo I think I just figured it out, I'm going to push up a PR in a sec to see what you think.

[2020-02-28 00:09] thomasplevy commented on #147
I think we accidentally on purpose fixed this. Latest tests ran without issue. Closing.

[2020-02-28 00:09] #147 closed

[2020-02-28 00:13] #144 closed

[2020-03-17 18:23] thomasplevy opened #150 "Webhook initial "ping" request sends a webhook ID of `0`"
## Reproduction Steps

1) Create a new webhook for any topic
2) Inspect the received "ping" event body

## Expected

The body should be something like:

[code]

where "1234" equals is the resource ID of the newly created webhook

## Actual

The received event body will always have an ID of "0":

[code]

## Information

I believe this is happening because the hookshot is fired before the webhook da

[2020-03-17 18:27] thomasplevy opened #151 "Webhook `course.created` (and likely other `${post_type}.created`) event does not fire"
## Reproduction

Create a new webhook for the `course.created` topic.
Publish a new course

## Expectation

The webhook will be delivered when the course is created

## Actual

The webhook is not delivered

## Information

We utilize the WP core `save_post_{$post_type}` hook to trigger the publication of a course. Since this event is fired by WP for both post creation and update we watch the 3rd a

[2020-03-18 15:25] eri-trabiccolo commented on #151
@thomasplevy
I've investigated a little bit on how wc does.
Well I've just looked into a "normal" creation of a product, via the wp admin.
When a product is 'saved' this action hook is fired:
https://github.com/woocommerce/woocommerce/blob/4.0.0/includes/admin/class-wc-admin-meta-boxes.php#L222

and this is the actual hook the webhook "listens to":
https://github.com/woocommerce/woocommerce/blob/4

[2020-03-18 16:44] thomasplevy commented on #151
@eri-trabiccolo

Thanks for the research!

If we were to consider a resource new by the same criteria (if the hook is triggered within 10 seconds of the post creation date) then we might as well reduce the amount of code we'd need to rewrite and remove the check that *skips* the firing of the hook if the post's status is "auto-draft":

https://github.com/gocodebox/lifterlms-rest/blob/63daaa1eecdef

[2020-03-18 17:27] eri-trabiccolo commented on #151
That might be fine,
haven't tried though what happens when you publish an "auto-draft", is $args[2] `false` or `true`?
because in that case we are not able to discriminate between `creation` and `update`.
Why don't we bail if doing autosave like:
https://github.com/woocommerce/woocommerce/blob/4.0.0/includes/admin/class-wc-admin-meta-boxes.php#L187-L195

WooCommerce also doesn't "skip" the check a

[2020-03-18 17:53] thomasplevy commented on #151
@eri-trabiccolo

I think you're right and using the WC time-check method probably makes the most sense... I've just run a few tests to review the data on the post object and the `post_date` property is updated when moving from auto-draft to published. My concern was that the date would be the initial date of the auto-draft creation but that's not the case.

So if we remove the check on the 3rd par

[2020-03-18 17:54] thomasplevy commented on #151
@eri-trabiccolo do you want to tackle this tomorrow or should I have at it?

[2020-03-18 18:17] eri-trabiccolo commented on #151
@thomasplevy
I can try tackling this tomorrow before we meet, if I fail for whatever reason you take over if you like :D
how does this sound to you?

[2020-03-18 18:39] thomasplevy commented on #151
@eri-trabiccolo Perfect thanks

[2020-03-19 15:29] eri-trabiccolo commented on #151
@thomasplevy
I'm working on this, I think the woocommerce approach has a problem:
scheduled posts.
in that case the post date is always in the future and then the resource "is created" at each update.

[2020-03-19 18:30] eri-trabiccolo commented on #151
@thomasplevy  WIP here:
https://github.com/eri-trabiccolo/lifterlms-rest/tree/webhooks

I just ran some very rough tests that seem to be fine,
more manual tests need to be done and unit tests to be added.

[2020-03-20 10:26] eri-trabiccolo commented on #150
mmm but this means that we have to save the webhook before pinging...
while at the moment the save is subordinated to the pinging success.

[2020-03-20 15:07] eri-trabiccolo commented on #151
@thomasplevy
man I'm not convinced about the 10s thing.
They're too much, think about some app doing two rest calls:
1) create a course
2) update the course title
I hope that it can do that in less than 10 seconds...
This is of course a kind of an edge case...
Consider that wc uses this method only for the 'woocommerce_process_product_*' action hooks - the ones fired in their metaboxes code...

Wh

[2020-03-20 18:32] eri-trabiccolo commented on #151
@thomasplevy
I ran a manual test on what happens when cloning a course with the **current implementation**:
`save_post_course` and `edit_post_course` action hooks are fired several times
1) the course is "created" in draft state, `save_post_course` is fired and the `course.created` is "delivered" (scheduled) only once, at this very early stage (not ideal because the course is not "complete").
2) t

[2020-03-23 15:28] thomasplevy commented on #150
Yes, it does...  I'm not sure the best way to resolve but this is something of a minor issue.

We might have to save without pinging and change the state immediately if the ping fails.

[2020-03-30 04:41] vertika1 opened #155 "REST API uses `billing_postcode` but `billing_zip` used everywhere else in LLMS code"
### Reproduction Steps

+ Create a student using `/wp-json/llms/v1/students` while passing non-empty value for `billing_postcode`

### Expected Behavior

+ Billing Zip Code field on the user profile page (back-end) and Zip Code on the student `edit-account` page (front-end) to contain the value that was passed in `billing_postcode`

### Actual Behavior

+ Billing Zip Code and Zip Code are both emp

[2020-03-30 13:35] eri-trabiccolo commented on #155
@vertika1
many thanks for reporting this, it's a bug indeed!

I've been able to reproduce the issue you reported, so thanks agin for this bug report! :D

[2020-03-30 17:10] #155 closed

[2020-03-30 17:22] thomasplevy commented on #151
@eri-trabiccolo

While I feel that using the other hooks is *probably* better I think we still run into some issues...

Mainly, if we use the metabox processing hooks we still run into a situation where the post might not be really finished. From my perspective this is just as unreliable as what this WIP introduces.

I think we should add the generator hooks -- possibly. Currently the generator us

[2020-03-30 17:44] eri-trabiccolo commented on #151
@thomasplevy

That's true and it's true for WC too.

What do you mean? This generator hook is fired at the end of the process:
https://github.com/gocodebox/lifterlms/blob/3.37.13/includes/class.llms.generator.php#L440
when all the metas have been already updated. Am I wrong?

Well not really, we have an hook that is fired at the very end of the creation process, again, after all the metas have bee

[2020-03-30 17:53] thomasplevy commented on #151
@eri-trabiccolo I don't know. Solve the problem please.

[2020-03-31 13:26] eri-trabiccolo opened #157 "Handle custom fields"
https://lifterlms.slack.com/archives/CCESQHE82/p1585632416015700

we should handle custom fields (meta) and registered rest fields in general.
It was not implemented for the early beta releases because of a conflict with the instructors and visibility fields registered in llms-blocks, but it's something easy to fix. So let's do it and... mostly... let's dance!

[2020-05-11 13:07] eri-trabiccolo commented on #143
@thomasplevy what happened to this?

[2020-05-11 13:12] eri-trabiccolo commented on #145
HS-121145

[2020-05-11 15:37] thomasplevy commented on #143
@eri-trabiccolo I don't know... I'll have to dig through my local branches and see... If my memory serves me right I couldn't figure it out but I'm not sure why I posted that I did

[2020-05-11 15:57] thomasplevy commented on #143
@eri-trabiccolo I don't have anything locally, I'm remembering now that I started to work on updating it using this as a template but it actually doesn't work as I was expecting: https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/

[2020-05-11 16:00] eri-trabiccolo commented on #143
ok @thomasplevy thanks!

[2020-05-13 09:26] eri-trabiccolo opened #158 "Infinite loop when providing a correct consumer key but a wrong consumer secret"
### Reproduction Steps

+ Create api-keys
+ perform a request to one of our endpoints providing a correct consumer key but a wrong consumer secret

### Expected Behavior

+ I would expect to receive an authentication error

### Actual Behavior

+ I get a server error, 502 Bad Gateway with nginx, 503 with apache (?)

### Error Messages / Logs
n/a

### System Information

[code]

### Browser, Device

[2020-05-15 13:53] eri-trabiccolo opened #160 "Maybe allow filtering the collection params"
This might allow filtering e.g. the maximum `per_page` value, which is set to 100 in wp core:
https://github.com/WordPress/WordPress/blob/5.4.1/wp-includes/rest-api/endpoints/class-wp-rest-controller.php#L381

related, but not directly asked:
HS-121734

[2020-05-20 16:33] thomasplevy commented on #145
HS-122344

[2020-05-20 16:58] eri-trabiccolo commented on #145
remember:

[2020-05-20 17:00] thomasplevy commented on #145
default search columns available on a `WP_User_Query`: 'ID', 'user_login', 'user_email', 'user_url', 'user_nicename', 'display_name' [source](https://developer.wordpress.org/reference/classes/WP_User_Query/prepare_query/)

[2020-05-20 23:05] musangowope opened #161 "[GET]/lessons returning empty []"
### Reproduction Steps
Background Context:
Running wordpress on `http://localhost:8080` (wp-json is active)
--
1. Create lessons and publish
2. Create Course and publish
3. Open Course builder of created course
4. Create Sections and add created lessons to created sections
5. Use insomnia to test endpoint `/lessons`  with get request
`http://localhost:8080/wp-json/llms/v1/lessons`
with headers
`X-

[2020-05-20 23:19] thomasplevy commented on #161
@musangowope

Thanks for the bug report!

Unfortunately based on the information provided we're unable to recreate (you slacked me about this about an hour ago and I've already confirmed that this is working as expected in a local test environment).

A few follow up questions to help us figure out what's going wrong here:

**1. Plugin and theme conflicts**

You've neglected to provide your system

[2020-05-21 17:14] thomasplevy commented on #161
@musangowope

@eri-trabiccolo noted that this is very likely an authentication issue related to not using an SSL certificate, a requirement of our REST API: https://developer.lifterlms.com/rest-api/#section/Introduction/Requirements

If this is the case you should be able to add a self-signed SSL cert on your localhost and use the API as expected.

Let us know if this helps

[2020-05-21 18:43] thomasplevy commented on #142
HS-122344

[2020-05-21 18:44] thomasplevy commented on #142
@eri-trabiccolo want to bundle this into your priorities while working on #145?

[2020-05-22 16:46] eri-trabiccolo commented on #142
I need to map the resource's props to the `data` expected by those actions.
I'm not going to finish this today :|

[2020-05-24 13:36] musangowope commented on #161
@thomasplevy updated my wordpress information. There seems to be something wrong with my docker wordpress instance. I tried getting lessons from my trial account lifterlms(the hosted wordpress site) and it works

[2020-05-25 17:52] #161 closed

[2020-05-26 19:36] thomasplevy commented on #142
@eri-trabiccolo I'm going to hold the release of beta.12 (#162) to include this with the release

[2020-05-26 21:13] eri-trabiccolo commented on #142
Yes, sorry for being late on this :(

[2020-05-26 22:49] thomasplevy commented on #142
No worries, just nudging you that this is a priority :-p

[2020-05-27 13:51] eri-trabiccolo commented on #142
@thomasplevy
I've spent quite some time on this and I think that the best thing to do here is to fire a specific action when the student is created via rest-api, and hook to that in the notifications/engagements controllers.
Why so?
We should theoretically fire these actions, right?
https://github.com/gocodebox/lifterlms/blob/3.38.2/includes/class.llms.person.handler.php#L765-L766

that are used h

[2020-05-27 13:55] thomasplevy commented on #142
Yea this makes sense to me

[2020-05-27 16:48] eri-trabiccolo commented on #142
I'm going to push the core part in a moment.

[2020-05-27 22:12] #142 closed

[2020-05-27 22:12] #143 closed

[2020-05-27 22:12] #145 closed

[2020-05-27 22:12] #158 closed

[2020-06-19 10:25] eri-trabiccolo opened #167 "Deleting a student progress doesn't actually work"
### Reproduction Steps

+ Enroll a student in a course with 2 lessons
+ Mark 1 lesson as complete
+ Make a GET request to the rest-api progress endpoint for the given student and course. E.g.:
https://website.test/wp-json/llms/v1/students/{student_id}/progress/{course_id}
+ Verify the "progress" property says 50
+ Make a DELETE request to the same endpoint
+ Make another GET request to the same en

[2020-06-19 13:26] eri-trabiccolo opened #169 "List Student Progress, missing endpoint?"
In our documentation we have, as student link:
[code]
(https://developer.lifterlms.com/rest-api/#tag/Students)

But actually we have not defined any endpoint to list all the student progresses.

I think we wanted to implement it as we did for the enrollments, but I couldn't find any issue opened.
If I'm wrong, and we don't want that endpoint, then we should remove that student's link.

[2020-06-22 10:02] eri-trabiccolo opened #170 "Getting instructors without permissions, wrong error message"
### Reproduction Steps

+ Perform a request llke:
https://one.wordpress.test/wp-json/llms/v1/instructors?post=2466
without authentication

### Expected Behavior

+ Expected message:
`You are not allowed to list instructors.`

### Actual Behavior

+ Actual message:
`You are not allowed to list students.`

### Error Messages / Logs

n/a

### System Information

LifterLMS: 4.0.0-rc.1

LifterLMS REST

[2020-06-22 16:53] #167 closed

[2020-06-22 16:53] #170 closed

[2020-06-22 16:56] thomasplevy commented on #169
I don't recall any specific reason why the endpoint doesn't exist. I probably intended to build it and never got to it and forgot about it.

[2020-06-25 16:06] eri-trabiccolo opened #173 "Cannot DELETE student progress of unenrolled user"
### Reproduction Steps

+ Enroll a student in a course
+ complete a lesson
+ unenroll the student
+ delete student progress via rest-api

### Expected Behavior

+ I expect to be able to delete the progress

### Actual Behavior

+ Cannot delete the progress

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System Information

[code]

### Browser, Device, and

[2020-06-25 20:07] thomasplevy commented on #157
We should include user meta data in this as well

[2020-06-30 15:04] eri-trabiccolo opened #175 "The core REST API should be passing the WP_REST_Request to the `prepare_links()` method (but it's not)"
So that we can gather information from the request to better build up our links.

[2020-07-01 18:24] #175 closed

[2020-07-02 13:33] GeekJosh opened #178 "List membership enrollments always returns 404"
### Reproduction Steps

Perform a GET request to the /`memberships/{id}/enrollments` endpoint using any valid membership post id

### Expected Behavior

A collection of enrollments for the given membership is returned

### Actual Behavior

The API returns 404 `llms_rest_not_found`

### Error Messages / Logs

[code]

### System Information

<details>
<summary>System Report</summary>

[code]

</deta

[2020-07-02 13:46] GeekJosh opened #179 "List students doesn't work with Basic Auth"
### Reproduction Steps

Perform a GET request on the `/students` endpoint using basic authentication

### Expected Behavior

A collection of students is returned

### Actual Behavior

A 401 unauthorized response is received

### Error Messages / Logs

[code]

### System Information

<details>
<summary>System Report</summary>

[code]

</details>

[2020-07-02 13:47] GeekJosh commented on #179
If you use the `X-LLMS-CONSUMER-KEY` and `X-LLMS-CONSUMER-SECRET` headers for authentication, then this endpoint returns a collection of students as expected

[2020-07-02 13:50] GeekJosh commented on #178
after realising that using the `X-LLMS` headers fixes the issue I reported in #179 I have just confirmed the same is true here. It seems that somewhere, Basic Auth header isn't being handled properly

[2020-07-02 17:42] thomasplevy commented on #179
Welcome to LifterLMS @GeekJosh!

I've reviewed this and using a clean local machine I am able to make requests to `GET /students` using basic auth without issue (also, I've reviewed your other issue, #178, and found the same result -- that it works as expected with basic auth).

Since you have two reports of issues where the requests work with header authorization but not basic authorization my as

[2020-07-02 17:42] thomasplevy commented on #178
~See my reply to your other issue at https://github.com/gocodebox/lifterlms-rest/issues/179#issuecomment-653139278~

~I think we have duplicate issues here~

[2020-07-02 17:48] thomasplevy commented on #178
I misread the title when reviewing the other issue and thought this was stating the the `GET /memberships` endpoint was the reported problem endpoint.

This actually seems to me to be completely unrelated to #179 (it's a 404 not a 401/3) and I am seeing issues here. It is 404ing regardless of whether or not basic auth or header auth is used.

Could you test you integration again and let me know wh

[2020-07-02 17:50] GeekJosh commented on #179
Thank you for the comprehensive reply. I've been using Postman to test
endpoints and ultimately they're being used in a .NET application using the
standard HttpClient.

Unfortunately, it is only these two endpoints (so far) that basic auth
doesn't work for. All endpoints work using the custom headers so it's not
really causing me an issue, just seems odd that only specific endpoints
fail, and with

[2020-07-02 17:51] GeekJosh commented on #178
Using header Auth, I get the collection of enrollments as expected

[2020-07-02 17:53] thomasplevy commented on #178
@GeekJosh hmmm...

I'm seeing a different issue and what you're reporting is very strange in this case.

Could you post some example requests you're making so I can look at your integration a little closer please?

[2020-07-02 17:55] thomasplevy commented on #179
@GeekJosh could you export your Postman request (redact the keys) and post that so I can import and see what you're doing please?

[2020-07-02 18:13] thomasplevy commented on #178
@GeekJosh

Is it possible you're testing against different memberships?

I found the following:

https://github.com/gocodebox/lifterlms-rest/blob/d9ec7708bc8365a5b9ddc5b11104f4a934764542/includes/server/class-llms-rest-enrollments-controller.php#L210-L213

Which in some capacity I know I must have read and reviewed but I can't find anything in the spec stating enrollment lists *should* respond wit

[2020-07-02 18:18] eri-trabiccolo commented on #178
@thomasplevy that might actually be a bug but I implemented that way on purpose because that's what the spec say:
https://developer.lifterlms.com/rest-api/#tag/Memberships/paths/~1memberships~1{id}~1enrollments/get

similar thing for the courses.

You already know the spec say that, but you have to imagine that I implemented most of the resources based on what the spec said.

[2020-07-02 18:23] thomasplevy commented on #178
Can you clarify where you're seeing that the spec says to return a 404 when the membership has no enrollments?

The 404 I see documented I think would be expected when the membership doesn't exist -- not when no enrollments exist, right?

[2020-07-02 18:28] eri-trabiccolo commented on #178
Mmm well no to me it meant that the enrollments did not exist, so it's my wrong understanding of the specs: BUG.
Maybe the spec could be more "complete" if they said what was the actual resource that couldn't be found.

I did the same with:
- membership enrollments
- course enrollments
- section content
- course content

they must be fixed then! Sorry!

[2020-07-02 18:31] thomasplevy commented on #178
Aha!

[2020-07-02 18:32] thomasplevy opened #180 "Enrollment (and content) endpoints should not 404 when no enrollments (or content) can be found"
Mmm well no to me it meant that the enrollments did not exist, so it's my wrong understanding of the specs: BUG.
Maybe the spec could be more "complete" if they said what was the actual resource that couldn't be found.

I did the same with:
- membership enrollments
- course enrollments
- section content
- course content

they must be fixed then! Sorry!

_Originally posted by @eri-trabiccolo in htt

[2020-07-02 18:40] thomasplevy commented on #178
@GeekJosh in light of this bug that we've identified can you triple check that your initially reported experience and behavior is accurate?

I think that you have misreported the issue as an auth issue but in fact what we have is a bug in our code returning a 404 instead of a 200 with an empty array

[2020-07-03 16:18] eri-trabiccolo commented on #180
related, but maybe they worth another ticket:
- Student progress
https://developer.lifterlms.com/rest-api/#tag/Student-Progress/paths/~1students~1{id}~1progress~1{post_id}/get

we never return a 404 here, we always return a validation error as the `post_id` was wrong:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.14/includes/server/class-llms-rest-students-progress-controller.php#L52

[2020-07-03 18:48] eri-trabiccolo commented on #180
@thomasplevy
Can you help_with/validate the following too?
https://developer.lifterlms.com/rest-api/#tag/Student-Enrollments too
- https://developer.lifterlms.com/rest-api/#tag/Student-Enrollments/paths/~1students~1{id}~1enrollments/get 404 when the **student** doesn't exist
- https://developer.lifterlms.com/rest-api/#tag/Student-Enrollments/paths/~1students~1{id}~1enrollments~1{post_id}/get
https

[2020-07-07 16:09] thomasplevy opened #181 "Student progress should return a 404, not a 400 validation error, when requesting progress for an invalid post id"
- Student progress
https://developer.lifterlms.com/rest-api/#tag/Student-Progress/paths/~1students~1{id}~1progress~1{post_id}/get

we never return a 404 here, we always return a validation error as the `post_id` was wrong:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.14/includes/server/class-llms-rest-students-progress-controller.php#L528

_Originally posted by @eri-trabiccolo in ht

[2020-07-07 16:12] thomasplevy opened #182 "Instructors content list should respond with a 404 when requesting an instructor that does not exist"
Instructor content
https://developer.lifterlms.com/rest-api/#tag/Instructors/paths/~1instructors~1{id}~1content/get
the 404 case is missing in the spec, ~also I think that content spec is pretty wrong, I guess we want to display a collection there, right?~

_Originally posted by @eri-trabiccolo in https://github.com/gocodebox/lifterlms-rest/issues/180#issuecomment-653612830_

[2020-07-07 16:12] thomasplevy commented on #182
I don't know if this is simply a documentation issue or if the endpoint itself is not responding properly as well.

[2020-07-07 16:15] thomasplevy commented on #180
You are correct on the way *all* of these should be working

[2020-07-07 16:16] thomasplevy commented on #179
@GeekJosh could you check in with me on this one please?

[2020-07-07 16:17] thomasplevy commented on #178
@GeekJosh can you check in with me on my last comment. We have found a bug (but it's unrelated to your initial report) and I'd like some clarification from you before closing this out.

[2020-07-07 16:19] thomasplevy commented on #181
See related #173

https://github.com/gocodebox/lifterlms-rest/blob/49b4494a566e210991901e99825bedceb3fc357d/includes/server/class-llms-rest-students-progress-controller.php#L525

This method can probably be removed.

Requesting progress for a course that does not exist (or for a page or something else) should respond with a 404 instead of with a validation error.

If a student is *not enrolled* th

[2020-07-09 10:42] GeekJosh commented on #178
Sorry for the delay - I can confirm that regardless of using header/basic auth, I get a 404 on an empty collection

[2020-07-09 10:52] GeekJosh commented on #179
Sorry for the delay, PostMan export:

[code]

[2020-07-09 17:32] thomasplevy commented on #178
@GeekJosh thanks for confirming

[2020-07-09 18:23] thomasplevy commented on #179
@GeekJosh thanks and no worries on the delay!

I've replaced the redacted urls with my local test site and the redacted keys with working read/write keys owned by an admin WP user and I'm seeing the same result (200 response) with both header and basic auth.

This seems to really indicate an issue with your server more than anything else. Are you *absolutely certain* that other endpoints are worki

[2020-07-16 23:37] thomasplevy opened #183 "Proposal: Add `/me` endpoints to student and instructor APIs"
In following with the WP Core (and many other APIs), I'd like to open a discussion around adding `/me` endpoints for the existing student and instructor API groups.

After building the Groups add-on using almost all onsite user interactions through the REST API, I'd like to move into using our own internal REST API to power more of LifterLMS itself. Initially I thought we'd use the REST API to pow

[2020-07-22 21:22] thomasplevy commented on #181
@eri-trabiccolo

I'm looking at this a little bit more closely and I think that we have a few different scenarios here:

GET requests:

1) The post ID *does not exist* anywhere in the database -- it should 404
2) The post ID *exists* but *is not completeable (it's a page, for example) -- it should 404 OR 400? The resource technically *does exist* but it's not a completeable resource so I wonder if

[2020-07-23 11:01] eri-trabiccolo commented on #181
@thomasplevy

What's the resource? I think the resource is the progress, not the student, nor the post.
So ideally I would say that we should always return 404.
That's what we actually we do in the students enrollments resource.

Since to me the resource is the student_progress if the student_progress exists (in the db) we should return 200 with the actual progress whether or not the user is enrol

[2020-07-24 08:47] eri-trabiccolo commented on #183
I missed this, I like it!
We might even implement those endpoints that you said we shouldn't. Even if I see what you mean, the underlying checks on the WordPress capabilities will actually take care of allowing those kind of actions, don't you think?
I mean, if I'm an administrator why can't I delete my enrollments/progresses through the `*/me/*` endpoints? I will be totally able to do it through

[2020-07-24 18:16] thomasplevy commented on #183
@eri-trabiccolo

I see what you're saying and I suppose you're right but I was thinking it would be unnecessary to write the additional endpoints geared at a student who generally cannot do that but that does actually assume that all students are of the student role (which is not the case)

Okay!

[2020-07-24 18:19] thomasplevy commented on #183
I've edited the initial proposal to include the things I initially said should be excuded

[2020-07-27 23:58] thomasplevy commented on #169
@eri-trabiccolo I was having a look at this issue today and I'm not sure how we would really expect to handle listing progress...

The *problem* I'm seeing is that "progress" isn't a true resource in the database. These records kind-of exist but kind-of dont.

I guess we could query postmeta data (for any post id) by student id and return a list of the results. Is this a useful way of looking at p

[2020-09-17 23:46] holistic3d opened #187 "Lessons not linked to course via parent_course"
### Reproduction Steps

I've developed NodeJS apps to create a course, add sections to the course and then add lessons for each section.  In Wordpress it all looks okay and linked up.  On the Course page you can see the sections and the lessons.  A lesson is assigned to the section via the parent_id.  However if the issue I have is that while these lessons are assigned to a section, they don't get

[2020-09-21 18:07] #187 closed, assigned to eri-trabiccolo

[2020-09-25 15:37] thomasplevy opened #191 "Add delta on assertion for date comparison on phpunit test(s)"
[code]

This test is failing, intermittently. Adding a delta -- even 10 seconds -- will allow us to ensure the function is still working with an acceptable degree of error here.

[2020-09-25 20:01] Oaparecido commented on #191
Hi, I saw the code and I think I can fix it for you!

[2020-09-25 20:12] thomasplevy commented on #191
@Oaparecido awesome, PRs are always welcome! Any questions let us know

[2020-09-25 20:13] thomasplevy commented on #179
@GeekJosh bumping for requested information!

[2020-09-25 20:41] Oaparecido commented on #191
@thomasplevy please attribute this issue to me!

[2020-09-25 21:07] Oaparecido commented on #191
Question, how long do you want to tolerate assertion?

[2020-09-27 17:56] Oaparecido commented on #191
Hey buddy, I'm having some problems to run your project in my machine, can you help me? Here's the screenshot

![Screenshot from 2020-09-27 14-54-08](https://user-images.githubusercontent.com/42935458/94372101-6fdf4480-00d1-11eb-9a72-76e21563c880.png)
![Screenshot from 2020-09-27 14-54-41](https://user-images.githubusercontent.com/42935458/94372102-71107180-00d1-11eb-9bf5-50748365b940.png)

[2020-09-28 15:26] thomasplevy commented on #191
@Oaparecido have you tried deleting the `/vendor` directory and re-installing?

It looks to me like things haven't actually been installed. Can you clean or remove the vendor directory and try installing again.

Also, note that you must install the test suite with `composer run tests-install` before you can actually run the tests. It looks like your test command is failing because this command has

[2020-09-28 17:40] Oaparecido commented on #191
So, I can't run this here, it installs all the dependencies but when I try to run the `composer run tests-install` it returns the following problem :
![Screenshot from 2020-09-28 14-33-31](https://user-images.githubusercontent.com/42935458/94466933-95835100-0198-11eb-83f6-d76cbaa2d0de.png)

Did you run a Docker on this application?

[2020-09-28 17:45] thomasplevy commented on #191
@Oaparecido

Do you have SVN installed? The test suite installs WP core (and other releated dependencies) via SVN.

[2020-09-28 17:46] thomasplevy commented on #191
I'd like to move everything over to run tests within a docker container but I haven't found the time to make these switches yet.

All the tests run automatically on PRs via Travis so if you're finding it too tiresome or difficult to install tests locally you can submit a PR and let Travis do it all for you, by the way.

[2020-09-28 17:58] Oaparecido commented on #191
I just realized that, I let it go unnoticed, sorry

[2020-09-28 18:00] thomasplevy commented on #191
No problem!

[2020-10-13 21:02] #191 closed, assigned to thomasplevy

[2020-10-30 15:19] eri-trabiccolo opened #194 "Documentation and API keys"
https://developer.lifterlms.com/rest-api/

### Expected Behavior

I would expect to see the consumer secret key in the examples starting with `cs_` instead of `sk_` to reflect what our code produces.

Also:
[code]
won't work,
this will:
[code]
### Actual Behavior

The consumer secret key in the examples starts with `sk_`

### Error Messages / Logs

n/a

### System Information

n/a

### Browser, De

[2020-11-05 16:01] thomasplevy opened #199 "Documentation: Example URL is `developer.lifterlms.com` for all API endpoints"
It used to be trailing or maybe example.tld, I don't remember. That changed somewhere, probably as a result of a bugfix in the redocly lib.

https://wordpress.org/support/topic/error-on-requesting-api-for-creating-students/

[2020-11-05 18:14] #194 closed, assigned to eri-trabiccolo

[2020-11-05 18:14] #199 closed, assigned to nobody

[2020-11-18 19:05] thomasplevy opened #209 "PHP8 + WP5.6 Compat"
Add-on Checklist

+ Composer Updates
	+ lifterlms/lifterlms-tests
		+ [x] Switch from "dev-master" to "dev-trunk"
		+ [x] Update to latest version
	+ lifterlms/lifterlms-cs
		+ [x] Switch from "dev-master" to "dev-trunk"
		+ [x] Update to latest version
	+ Scripts
		+ [x] Update scripts to match the LifterLMS Core scripts block
		+ [x] Ensure any custom scripts are retained
		+ [x] Ensure database

[2020-11-19 10:53] eri-trabiccolo opened #210 "When a failed webhook delivery prevents it from being delivered again (with different args)."
### Reproduction Steps

+ Create a webhook
+ trigger it and verify it works fine (e.g. check logs)
+ now simulate a failure during the delivery, e.g. a fatal here:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.16/includes/models/class-llms-rest-webhook.php#L32
(basically after that the `pending_delivery` field has been set to 1)
or just set the value directly in the db :)
+ trigger t

[2020-11-19 16:04] thomasplevy commented on #210
Thumbs up <3

[2020-11-21 17:28] eri-trabiccolo opened #212 "To batch or not to batch"
https://make.wordpress.org/core/2020/11/20/rest-api-batch-framework-in-wordpress-5-6/

[2020-11-23 18:08] eri-trabiccolo opened #213 "Remove pending_delivery column from the wp_lifterlms_webhooks db table"
See:
https://github.com/gocodebox/lifterlms-rest/pull/211

we don't use that column anymore.

[2020-11-24 15:38] thomasplevy commented on #213
@eri-trabiccolo are you planning to work on this before the release of #211 or push this off into the future? As I said in #211 I don't think it's a huge deal if we push it off into the future as long as this issue exists. Up to you

[2020-11-24 15:45] thomasplevy commented on #212
Yes, we should. This looks good to me. I don't really see any reason not to implement this for various endpoints, do you?

[2020-11-24 16:02] eri-trabiccolo commented on #212
No I don't but I was opening this from my smartphone and I wanted to be funny and concise at the same time, that's the reason for the title.

[2020-11-24 16:04] eri-trabiccolo commented on #213
I wanted to push this in the future because I think it requires changes to the core, so that the logic it's all in one place - there.
I assigned it to me so that you didn't feel you had to do it :D

[2020-11-24 16:04] eri-trabiccolo commented on #213
@thomasplevy  ^

[2020-11-24 16:08] thomasplevy commented on #212
![kevin](https://user-images.githubusercontent.com/1290739/100119929-42dab400-2e2c-11eb-9b80-4f0572358298.gif)

[2020-11-24 20:52] #210 closed, assigned to eri-trabiccolo

[2020-11-27 17:28] eri-trabiccolo commented on #209
@thomasplevy
I did this but I spend quite some time because there are to understand how to "fix" some issues.

Basically we're removing the lifterlms plugin install from the tests-install* scripts, and on the other hand we're installing the lifterlms plugin with Travis.

This means that you cannot really run tests locally because the lifterlms plugin is not installed.

On the other hand, if you re

[2020-11-30 17:56] thomasplevy commented on #209
https://github.com/gocodebox/lifterlms/blob/437fe97231d6d74cfcd674aaa12d1aac23241a85/.config/travis/add-on.yml#L14
?

Yes, kind of. But it's more complicated because I very much want us to start testing add-ons against nightly builds of the core on the dev branch to give us advanced warning before shipping potential add-on incompatibilities.

You're right that we need to unify this so that the tra

[2020-11-30 18:34] thomasplevy commented on #209
Fixes the prompt:

https://github.com/gocodebox/lifterlms-tests/commit/9440ec843aa1e3ab93cb156f7ee9bc6106649b1c

Here's a proposed composer config (relevant parts only):

[code]

[2020-11-30 18:36] eri-trabiccolo commented on #209
@thomasplevy
~I think it's fine but, when on the travis install the re-install will happen for all the add-ons in any case, either we test against the nightly or not. Right?~

Ok saw the latest commit in core <3

[2020-11-30 18:38] thomasplevy commented on #209
And this only installs from git when specified in travis:

https://github.com/gocodebox/lifterlms/commit/d5dbbfae38e2970baefce5fc3ce9e3da0b9977b9

[2020-11-30 18:39] thomasplevy commented on #209
See my latest comment above @eri-trabiccolo

[2020-11-30 18:47] eri-trabiccolo commented on #209
Yeah sorry @thomasplevy I edited my comment above when I saw the commit in core <3.

[2020-11-30 22:19] eri-trabiccolo commented on #209
I think we can close this...

[2020-11-30 22:39] thomasplevy commented on #209
@eri-trabiccolo DO IT THEN! I want you to have all the glory!

[2020-11-30 22:40] eri-trabiccolo commented on #209
Closed with 8c64ec45b292c614f72d97d6549c2ac6a45adc52

[2020-11-30 22:40] #209 closed, assigned to eri-trabiccolo

[2020-11-30 22:42] thomasplevy commented on #209
Oh yea

[2021-01-07 16:23] eri-trabiccolo opened #216 "Spec: Missing response and response samples for delete endpoints"
E.g.

- [x] **Lessons**: https://developer.lifterlms.com/rest-api/#tag/Lessons/paths/~1lessons~1{id}/delete
  - [x] Missing 200 response
  - [x] Missing 200 sample
- [x] **Memberships**: https://developer.lifterlms.com/rest-api/#tag/Memberships/paths/~1memberships~1{id}/delete
  - [x] Missing 200 response
  - [x] Missing 200 sample

(updated according to https://github.com/gocodebox/lifterlms-rest

[2021-01-07 16:27] thomasplevy commented on #216
Deletions never have a 200 response and 204s have no content

[2021-01-07 17:08] eri-trabiccolo commented on #216
99% stupid me, I got confused, although...
Right, deletions never have 200 response, so we have to amend the course specs:
https://developer.lifterlms.com/rest-api/#tag/Courses/paths/~1courses~1{id}/delete
But 204s do have content when the resource is not completely deleted but only trashed.
So the course's 200 sample should actually be the sample for the 204 (when `force` is `true`)

@thomasplevy

[2021-01-07 17:15] thomasplevy commented on #216
Sorry, you're right, if we move to the trash there *is* a 200 response.

If it's deleted (not trashed) it's a 204 (with no response, and therefore no response sample)

[2021-01-08 19:37] #216 closed, assigned to nobody

[2021-01-14 17:08] eri-trabiccolo commented on #49
- [ ] Create access plans related webhooks

[2021-01-14 17:51] eri-trabiccolo opened #219 "Wrong enrollment trigger retrieved when to a (user_id, post_id) tuple corresponds more than one trigger"
### Reproduction Steps

+ Enroll a student to a course manually (will generate an enrollment trigger like **admin_{admin_id}**)
+ Unenroll the student
+ Now enroll the student with a different trigger, e.g. a different admin, or if the course is an "auto-enroll" corse of a membership, enroll the student to the membership, so that the new trigger will be like **membership_{membership_id}**
+ Retrie

[2021-02-03 11:38] eri-trabiccolo opened #222 "Stop returning an error when updating resources properties with a new value equal to the saved one"
This i basically due to https://github.com/gocodebox/lifterlms/issues/909

But we decided that, since this is really a question concerning the REST API, we should just handle this here.

[2021-02-04 14:22] oleksandr-rapiy opened #223 "Login and Registration API"
Hello everyone, does LifterLMS provide API to login student using other services? For example, I wanna login new student to system, which already use LifterLMS plugin, but through my own web site.

**How can I do that ?**

[2021-02-04 15:52] thomasplevy commented on #223
@OleksandrRapiy

**Login via REST**

Our REST api does not (and likely will not) provide the ability to login users via REST calls.

This gets complicated but (while it is debatable) user interaction like logging in and out does not qualify as a semantically valid REST interaction. Our REST API is built out of resources (courses, memberships, users, enrollments, etc...) these are all nouns. Loggin

[2021-02-04 18:36] eri-trabiccolo commented on #222
@thomasplevy
I dug a little bit into this, and realized that doing all the "treatment" in the rest api would be uncomfortable.
That's because we scrub the properties before actually passing them to `update_post_meta()`.
So we should compare the scrubbed new value with the raw value stored the db...
But the scrubbing logic is something internal to the post model.(1)

And that it's not even enough,

[2021-02-04 18:40] thomasplevy commented on #222
@eri-trabiccolo This makes sense and I think I give it a thumbs up...

The whole logic of the whole thing is starting to feel really complicated though.... The method(s) are really complicated already... adding more logic feels wild but maybe that's what we need to do... I can't come up with any alternatives.

[2021-02-04 18:46] eri-trabiccolo commented on #222
unfortunately we both know that of course this is something the wp core should do...

[2021-02-04 18:59] thomasplevy commented on #222
yea... you're right... okay :+1:

[2021-02-05 11:00] oleksandr-rapiy commented on #223
@thomasplevy
Great, Thank you so much

[2021-02-05 12:53] oleksandr-rapiy commented on #223
@thomasplevy
Okey thank you again, but can you help me a little bit.

**Can I get some courses by student auth cookies ?
Or how can I get information about student account and so on, by student auth cookies, for example by wp_llms_session cookie ?**

[2021-02-05 15:52] thomasplevy commented on #223
The authentication cookies (set by the WordPress core) are used to determine the currently logged in user. It's best to use WP core methods to identify the current user -- as opposed to reading information from the cookie directly. If you're looking to use the REST API you could use the following endpoint to determine the current user:

`GET /wp/v2/users/me`: https://developer.wordpress.org/rest-a

[2021-02-08 21:04] thomasplevy commented on #49
@eri-trabiccolo

A few things came up while I was doing some additional review and testing on this:

1. The WP Admin UI currently implements a restriction of a maximum of 6 access plans per course/membership. While I realize that (some) users lament this restriction and rail about how it's arbitrary nature prevents them from creating 25+ plans per course. We do implement this limit. (It's mostly a

[2021-02-09 20:32] #49 closed

[2021-02-09 20:32] #219 closed, assigned to eri-trabiccolo

[2021-02-09 20:37] thomasplevy commented on #223
@OleksandrRapiy any other questions let us know, otherwise I'll consider this resolved

If you need more help respond and reopen!

[2021-02-12 10:06] oleksandr-rapiy commented on #223
@thomasplevy
Thank you so much for your answers. I have one question for you.
**How can I get order history? For example list of courses what student buy?**

[2021-02-12 15:58] thomasplevy commented on #223
@OleksandrRapiy

We have not yet implemented orders as a resource, though we intend to. This is one of the resources slated for "Phase 2" of our API development. You can see what else is in phase 2 here: https://github.com/gocodebox/lifterlms-rest/issues/1

I don't have an ETA for any of this, it'll probably be rolled out little by little. E-commerce resources will probably be grouped together int

[2021-02-12 16:12] oleksandr-rapiy commented on #223
@thomasplevy
**Ok thank you, I got it.**

[2021-02-12 16:12] #223 closed, assigned to nobody

[2021-02-26 13:25] oleksandr-rapiy opened #225 "LifterLMS API questions"
Hello everyone, sorry for disturbing you. But I need some help with LifterLMS.

**Does the LifterLMS stripe plugin provide API to work?**

The main point of this, I already have a website with LifterLMS and LifterLMS stripe plugins, and **I need to create another small service where I can buy courses and so on. How can I do that?**

_**Stack technologies: .Net**_

Thanks.

[2021-02-26 15:51] thomasplevy commented on #225
https://lifterlms.slack.com/archives/C0H1CE4SW/p1614354642006300?thread_ts=1614345613.006200&cid=C0H1CE4SW

[2021-02-26 15:51] #225 closed, assigned to nobody

[2021-03-15 12:00] eri-trabiccolo commented on #157
HS-159403

[2021-04-01 15:00] eri-trabiccolo opened #227 "Collections of Post type based resource only include published posts"
### Reproduction Steps

+ Create a draft course
+ As admin (so e.g. use api keys) perform a rest request to get all the courses
+ Specify the 'status' param to include only 'drafts'.

### Expected Behavior

+ I'd expect to see the  draft course in the list.

### Actual Behavior

+ I obtain an empty list

### Error Messages / Logs

n\a

### System Information

1.0.0-beta.18

### Browser, Device, an

[2021-04-13 17:06] #227 closed, assigned to nobody

[2021-07-08 17:33] thomasplevy commented on #157
Custom user fields from LifterLMS Custom Fields add-on should be accessible via user endpoints (https://github.com/gocodebox/lifterlms-custom-fields/issues/42)

[2021-07-09 17:54] thomasplevy commented on #179
Closing due to inactivity

[2021-07-09 17:54] #179 closed, assigned to nobody

[2021-07-27 21:22] nrherron92 opened #233 "Site Specific Thrivecart issue"
### Reproduction Steps

+ HS-171389
+ Credentials all provided in ticket
+ Log into LifterLMS Site -> Create new Rest API read/write credentials
+ Log into ThriveCart->(click on your profile logo)->Settings->Integrations->LifterLMS
+ Edit site syncing options
+ Add user's site and new rest api credentials
+ attempt to save

### Expected Behavior

+ It saves normally with the trial site, however us

[2021-07-27 21:51] thomasplevy commented on #233
@nrherron92

We need logs to proceed. A 500 error could be caused by any number of things and us developers have no secret way of discovering the source of an error. The log files will tell us and that's what we need to proceed.

[2021-07-28 13:19] nrherron92 commented on #233
@thomasplevy It seems to be a conflict with Divi when he turns Divi off the issue goes away:

these are the error code:

```[28-Jul-2021` 04:20:50 UTC] PHP Fatal error: Uncaught ArgumentCountError: Too few arguments to function ET_GB_Block_Layout::get_the_excerpt(), 1 passed in /chroot/home/abe7c2cc/jayabraham.com/html/wp-includes/class-wp-hook.php on line 303 and exactly 2 expected in /chroot/hom

[2021-07-28 14:25] eri-trabiccolo commented on #233
Thanks @nrherron92 !
https://github.com/gocodebox/lifterlms/pull/1719 fixes this @thomasplevy
This means that our rest-api are currently not working with Divi 4.10.0... (latest release)
What the customer can do would be to rollback Divi...

[2021-07-28 23:41] #233 closed, assigned to nobody

[2021-09-17 18:51] thomasplevy opened #234 "Request to list access plans results in fatal error"
### Reproduction Steps

+ Make a request go `GET /llms/v1/access-plans`

### Expected Behavior

+ Receive a list of access plans

### Actual Behavior

+ Fatal error encountered, see error below

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System Information

<details>
<summary>System Report</summary>

[code]

</details>

### Browser, Device, and Operat

[2021-09-22 21:04] thomasplevy opened #235 "GET /access-plans response object missing sale dates"
### Reproduction Steps

+ Create an access plan
+ make a request to view the view the access plan, eg `GET /access-plans/{$id}

### Expected Behavior

+ Sale start & end date properties will be returned as empty strings (`sale_date_start` and `sale_date_end`)

### Actual Behavior

+ Properties are not returned

### Additional info

The source of this issue lies in these lines:

https://github.com/

[2021-09-22 21:31] thomasplevy opened #237 "/access-plans `date_expires` property returned in wrong date format"
### Reproduction Steps

+ Create an access plan which has access expiration enabled on a specific date, eg: 2021-09-22
+ Make a request to retrieve the access plan, eg: `GET /access-plan/{$id}`

### Expected Behavior

+ The `access_expires` property returns a date in the documented format `Y-m-d H:i:s`

### Actual Behavior

+The property is returned like this: "September 22, 2021 12:00 am"

[2021-09-23 14:52] eri-trabiccolo commented on #234
@thomasplevy I think this is something weird of WordPress.
Here: #2 /shared/httpd/llms/htdocs/wp-includes/class-wp-hook.php(303): rest_send_allow_header(Object(WP_REST_Response), Object(WP_REST_Server), Object(WP_REST_Request))

all the permissions callbacks related to an endpoint+method are checked https://developer.wordpress.org/reference/functions/rest_send_allow_header/

And, in the method tha

[2021-09-24 17:14] eri-trabiccolo commented on #157
Working on this, I'm trying to abstract this as much as possible (more work on abstraction must be done), this is the plot:
https://github.com/eri-trabiccolo/lifterlms-rest/tree/issue/157

[2021-10-06 15:57] eri-trabiccolo opened #241 "Create github actions to replace travis to test openapi etc."
.travis.yml containing the following:
[code]
has been removed.
Those jobs should be replaced with gh actions.

[2021-10-11 14:36] #234 closed, assigned to eri-trabiccolo

[2021-10-11 14:37] #235 closed, assigned to thomasplevy

[2021-10-11 14:37] #237 closed, assigned to thomasplevy

[2021-11-26 22:05] janvp opened #247 "Permissions to read another student's progress"
Hi,

In my project I want to create a custom role. That role should be able to read other student's enrollments and progress through the REST API, but shouldn't be able to edit anything. If I assign the permissions `view_students` and `view_others_students` to that role, the role is able to do the request:
`GET /students/{id}/enrollments/{post_id}`
but not the request:
`GET /students/{id}/progress

[2021-12-01 16:17] eri-trabiccolo opened #248 "Make post based resources "searchable""
We should just define a property in the `LLMS_REST_Posts_Controller` called `is_searchable` and set it to `true`.

see https://github.com/gocodebox/lifterlms-groups/issues/173

[2021-12-01 16:20] thomasplevy commented on #248
:+1:

[2021-12-01 16:21] thomasplevy commented on #248
I'm okay with blanket enabling searching for all post resources -- I think it should be appreciated and sensible on all existing post resources we currently have

[2021-12-07 18:33] #248 closed, assigned to eri-trabiccolo

[2022-01-16 09:45] davideneglia opened #261 "Cannot remove "protected" from a course with a password:"
Hi everyone. I have my own online course portal and I'm modifyng the user interface.
![image](https://user-images.githubusercontent.com/97828406/149654850-20ec61e6-c4dc-49b0-b8dc-742c432610f5.png)

How can I remove the word "protetto" that means that the cours has a password? I don't want to show this word.

Thank you for you help

[2022-01-16 21:17] thomasplevy commented on #261
Hey there @davideneglia

You'll want to use the WordPress [protected_title_format](https://developer.wordpress.org/reference/hooks/protected_title_format/) core filter to remove the "Protected" prefix that is added to password protected posts

[2022-01-25 15:59] thomasplevy commented on #261
@davideneglia I'm going to close this out as it doesn't appear to be an issue related to the LifterLMS REST API. If you have further questions or disagree let us know and we can reopen and continue discussing.

[2022-01-25 15:59] #261 closed, assigned to eri-trabiccolo

[2022-02-14 10:24] BrendanSD3 opened #262 "Get Achievements and Certificates through the lifter LMS RESTAPI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
not sure

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
* I would like a GET method to be added to retrieve the certificates and/or Achievements for a student through the restapi
![image](h

[2022-02-15 15:45] eri-trabiccolo commented on #262
Thanks for your feedback @BrendanSD3.
I'm going to close this in favor of #1, you can follow our progress there and let us know if you have anything further to add.

Best

[2022-02-15 15:45] #262 closed, assigned to eri-trabiccolo

[2022-03-09 19:51] thomasplevy opened #267 "Request to `access-plans/{id}` results in an error when no `price` is supplied for free access plans"
### Reproduction Steps

+ Make an API request to update any field of an access plan, for example the plan's `title` property.
+ Exclude the `price` property from the body of the API request.

Example payload:

[code]

### Expected Behavior

+ The title of the plan will be updated.

### Actual Behavior

+ A 500 response is received from the API request

### Error Messages / Logs

[code]

### Notes

[2022-03-10 09:20] eri-trabiccolo commented on #267
@thomasplevy yeah the problem is this one:
https://github.com/gocodebox/lifterlms/issues/909

I think we then have to treat here only this case:

I actually already accounted for this kind of errors:
https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta.23/includes/server/class-llms-rest-access-plans-controller.php#L611

But I must've done something wrong. :D

Yeah, the issue was a strict ty

[2022-03-15 22:23] thomasplevy opened #269 "access plan `availability_restrictions` property never returned"
### Reproduction Steps

+ Create an access plan with membership restrictions stored in the `availability_restrictions` property.
+ Retrieve the access plan via a `GET /access-plans/$id` request or a `GET /access-plans` (list) request that would return the access plan with restrictions

### Expected Behavior

+ The `availability_restrictions` property contains an array of WP_Post IDs

### Actual Be

[2022-03-15 22:24] thomasplevy commented on #269
@eri-trabiccolo I've already confirmed this and written a quick fix locally so I'm not blocked but this could be cleaned up sooner than later for release with the other access plan bug you already fixed

[2022-03-15 22:45] thomasplevy opened #270 "access plan `checkout_redirect_forced` property not included in REST resource"
The `checkout_redirect_forced` is used for access plans that have at least one membership restriction. When checked, it forces the course's redirection setting to be used (in favor of the membership) during checkout.

You can see it used here in the existing admin ui: https://github.com/gocodebox/lifterlms/blob/604c945a603e53c832dc14d990595bf0cb7870c9/includes/admin/views/access-plans/access-plan.

[2022-03-15 22:47] thomasplevy commented on #270
I'm wrong, it's `redirect_forced`

[2022-03-15 22:47] #270 closed, assigned to thomasplevy, eri-trabiccolo

[2022-03-15 23:06] thomasplevy opened #271 "Cannot enable access plan `forced_redirect` property"
Probably related to #267

Request to `/access-plan/$id`
[code]

Results in:
[code]

But disabling works:
[code]

[2022-03-16 00:21] thomasplevy opened #272 "Creating or Updating access plans when there are 6 (max) plans associated with a course/membership results in errors"
### Reproduction Steps

+ Create a course with 6 access plans
+ Attempt to update one of the 6 plans via the REST API

### Expected Behavior

+ The plan updates

### Actual Behavior

+ A validation error is encountered: `'Only 6 access plans allowed per course`

---

This method appears to correctly validate against *creating* a new plan when the limit has been reached but it's also preventing any

[2022-03-16 10:08] eri-trabiccolo commented on #269
@thomasplevy
- Also found that we don't have an `availability` schema property, but the model's `has_availability_restrictions()` relies on that. So I'm going to switch the `availability` based on whether `availability_restriction` property has been provided.
- Also the availability thing is only for access plans related to courses. I think we should notice this in the documentation (and the schem

[2022-03-16 12:34] thomasplevy commented on #269
I think this makes sense @eri-trabiccolo. The property barely seems necessary today and really seems unnecessary with what I'm building right now. So keeping it as you have for backwards compatibility purposes but not requiring users to have to actually update it via REST feels good.

I don't want to take the time to properly deprecated it right now but we can phase out it's usefulness and maybe r

[2022-03-17 16:56] #267 closed, assigned to thomasplevy, eri-trabiccolo

[2022-03-17 16:56] #269 closed, assigned to eri-trabiccolo

[2022-03-17 16:56] #271 closed, assigned to eri-trabiccolo

[2022-03-17 16:56] #272 closed, assigned to eri-trabiccolo

[2022-03-17 19:12] pondermatic opened #278 "Enrollment status update provides two triggers"
https://github.com/gocodebox/lifterlms-rest/blob/a12d8641a711087e5d7f95c6b211b8800644fa69/includes/server/class-llms-rest-enrollments-controller.php#L1128

`LLMS_REST_Enrollments_Controller::handle_status_update()` is giving an extra trigger argument to [`LLMS_Student::enroll()`](https://github.com/gocodebox/lifterlms/blob/6.0.0/includes/models/model.llms.student.php#L103).

The extra parameter wa

[2022-03-17 20:29] eri-trabiccolo commented on #278
Niiiiice

[2022-03-17 21:51] eri-trabiccolo commented on #278
Although this doesn't introduce any issue at the moment, right? The third parameter is superfluous, but the second parameter is correct.

[2022-03-18 14:49] pondermatic commented on #278
That's good that the 2nd parameter is correct. Passing an extra parameter doesn't seem to generate an error.

[2022-03-29 16:38] eri-trabiccolo opened #281 "Improve github pages (specs) cache busting"
... so that it's not tied to the pkg version but rather on the timestamp.
https://github.com/gocodebox/lifterlms-rest/blob/62093695d930e9cbe1150abb824817dda60ce754/.bin/cache-bust#L20

[2022-04-26 15:04] eri-trabiccolo commented on #90
It's weird for me deleting webhooks just because the user who created them has been deleted.
Do we really want this, why?

[2022-04-26 18:13] thomasplevy commented on #90
yea maybe you're right... no one's ever reported it as an issue I was thinking about it as cleanup task when a user is removed... Some people might *expect* that the related data is also removed.

I think API keys *should* absolutely be removed as they are specific to a user. API Keys are credentials specific to a user, kind of like a password.

But you're right about webhooks. We do store the rel

[2022-04-28 08:48] eri-trabiccolo commented on #241
The deploy is already there (running on the `trunk` branch only), we need to create the test action only I guess.

[2022-05-06 14:17] nrherron92 opened #289 "Changing the Parent_ID for a lesson trigger using the API triggers an error"
### Reproduction Steps

+ HS-192782
+ Make a call to the lesson changing the parent id of the lesson to move it to a different course
+ the response if a 400 error
+ Yet the lesson still switches courses?

### Expected Behavior

+ There is no error message?

### Actual Behavior

+ Everything works except for the error message appearing

### Error Messages / Logs

+ the call, response, and payload

[2022-05-09 13:39] pondermatic commented on #289
This issue is caused by an undefined `$parent_course_id` variable that causes the `parent_course` metadata to not be removed, which causes `update_post_meta()` to fail because the metadata hasn't changed.

https://github.com/gocodebox/lifterlms-rest/blob/1.0.0-beta-24/includes/server/class-llms-rest-lessons-controller.php#L151

[2022-05-11 16:35] #90 closed

[2022-05-11 16:35] #222 closed, assigned to eri-trabiccolo

[2022-05-11 16:35] #281 closed, assigned to eri-trabiccolo

[2022-05-11 16:42] eri-trabiccolo commented on #289
fixed in #288

[2022-05-11 16:42] #289 closed, assigned to pondermatic

[2022-05-25 12:24] eri-trabiccolo opened #293 "CodeQL Error"
https://github.com/gocodebox/lifterlms-rest/pull/292/checks?check_run_id=6591921254

[2022-05-26 08:31] eri-trabiccolo opened #295 "Improve response fields filtering"
By default WordPress's REST API allow for filtering the response fields trough the `_fields` global parameter:
https://developer.wordpress.org/rest-api/using-the-rest-api/global-parameters/#_fields

This already _works_ because any [response is filtered](https://github.com/WordPress/wordpress-develop/blob/6.0/src/wp-includes/rest-api.php#L209) and the fields not included in `_fields` (when supplie

[2022-05-26 19:00] #293 closed, assigned to eri-trabiccolo

[2022-11-03 19:19] nrherron92 opened #298 "multiple webhooks, same topic"
We have a user that wants to know if they can use one topic to trigger a bunch of webhooks, or if there are any limitations to what a single trigger can do?

I'm inclined to say it will be fine, but wanted to double check first

[2022-11-03 19:42] thomasplevy commented on #298
We don't have any limitations imposed on the number of webhooks you can have triggered by a single topic.

In other words: If the user wishes to create 10 different webhooks, and they all are triggered by the `course.created` topic/event, they will all fire.

When an event which triggers a webhook fires, the webhooks matching that event are queried and the webhooks will be fired one at a time

[2022-11-03 19:52] nrherron92 commented on #298
thank you <3

[2022-11-03 19:52] #298 closed, assigned to thomasplevy

[2022-11-08 10:25] eri-trabiccolo opened #299 "Avoid fatals when searching for courses/memberships but the query post type parameter is forced to be something else"
see https://github.com/gocodebox/lifterlms-groups/issues/214

Can be reproduced by using this code:
[code]

and searching an **existing** course/membership through our rest api, e.g. via:
`wp-json/llms/v1/courses/?search=a&page=1&per_page=10&orderby=relevance`
(make sure `a` is contained in a ourse content/title and in at least one post - post type `post`)

you'll get this kind of error logged:

[

[2022-11-10 17:56] thomasplevy opened #302 "Setup webhook automatic retries"
Currently our webhooks are set to track failed attempts and automatically disable after 5 failed delivery attempts:

https://github.com/gocodebox/lifterlms-rest/blob/9215df26a9a589d5a5488f019339dd83c1b3c15d/includes/abstracts/class-llms-rest-webhook-data.php#L289-L321

This would require 5 separate deliveries for 5 events though. EG: if it's triggered during student enrollment, the webhook will di

[2022-11-10 18:03] thomasplevy opened #303 "Add webhook failure email (and admin?) notice(s)"
If a webhook is disabled due to the maximum number of consecutive failures having been reached:

https://github.com/gocodebox/lifterlms-rest/blob/9215df26a9a589d5a5488f019339dd83c1b3c15d/includes/abstracts/class-llms-rest-webhook-data.php#L289-L321

There is currently no way for the admin to be aware of this other than proactively manually reviewing the webhooks list on the admin dashboard.

We sh

[2022-11-14 17:55] kirkroyster commented on #302
Our concerns would be around network and/or server issues on our end.  Network would be the primary, server would normally just be a scheduled restart or an OS update.  Network could be a power outage which could be an extended outage which could take hours to restore << which suggests that we consider cloud hosting, understood.  >>  If it could extend out to 12 or 24 hours max for the retry, we s

[2022-11-14 18:49] thomasplevy commented on #302
@kirkroyster

That's really going to depend on the requirements of your application. I think a "safe" method for the default with a simplistic option to reconfigure those defaults on a per-application need using hooks and filters is the best bet.

LifterLMS can't solve every potential need or requirement so doing something generally safe/appropriate as the default with the ability to customize whe